.flowto-career{
  &-thumb{
    img{
      border-radius: 10px;
    }
  }
}

.flowto-job{
  &-row{
    padding: 20px 0;
    border-bottom: 1px solid var(--light-color);
    &:first-child{
      padding-top: 0;
    }
    &:last-child{
      padding-bottom: 0;
      border: none;
    }
  }
  &-wrap{
    display: flex;
    padding: 30px;
    gap: 24px;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    transition: all 0.4s;
    &:hover{
      background-color: var(--light-bg);
    }
    @include max(767px) {
      display: block;
    }
    &:hover .flowto-job-item{
      svg{
        path{
          stroke: var(--primary-color);
        }
      }
    }
  }
  &-item{
    padding-right: 20px;
    h4{
      margin-bottom: 24px;
    }
    h6{
      display: flex;
      align-items: center;
      svg{
        margin-right: 12px;
        path{
          stroke: var(--heading-color);
          transition: all 0.4s;
        }
      }
    }
    &:nth-child(1) {
      flex: 0 0 38%;
      @include max(767px) {
        margin-bottom: 24px;
      }
    }
    &:nth-child(2) {
      flex: 0 0 20%;
      @include max(767px) {
        margin-bottom: 24px;
      }
    }
    &:nth-child(3) {
      flex: 0 0 30%;
      @include max(767px) {
        margin-bottom: 24px;
      }
    }
    &:nth-child(4) {
      flex: 0 0 4%;
      text-align: right;
      padding-right: 0;
      @include max(767px) {
        text-align: left;
      }
    }
  }
}

.flowto-details{
  &-thumb{
    margin-bottom: 80px;
    @include max(991px) {
      margin-bottom: 60px;
    }
    @include max(767px) {
      margin-bottom: 40px;
    }
  }
  &-content{
    margin-right: 37px;
    @include max(991px) {
      margin-right: 0;
      margin-bottom: 40px;
    }
    h2{
      margin-bottom: 24px;
    }
    h4{
      margin-bottom: 15px;
    }
    p{
      font-size: 21px;
      line-height: 34px;
      @include max(991px) {
        font-size: 20px;
        line-height: 28px;
      }
    }
    ul{
      li{
        padding-left: 18px;
        font-size: 21px;
        line-height: 34px;
        position: relative;
        @include max(991px) {
          font-size: 20px;
          line-height: 28px;
        }
        &:before{
          content: "";
          left: 0;
          top: 15px;
          width: 4px;
          height: 4px;
          border-radius: 10px;
          position: absolute;
          background-color: var(--dark-bg);
        }
      }
    }
  }
  &-item{
    margin-bottom: 55px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.flowto-career-sidebar{
  padding: 40px;
  border-radius: 10px;
  background-color: var(--dark-bg);
  @include max(991px) {
    padding: 30px;
    margin-top: 40px;
  }
  h4{
    margin-bottom: 15px;
    color: var(--white-color);
  }
  p{
    font-size: 21px;
    line-height: 34px;
    color: var(--white-color);
    @include max(991px) {
      font-size: 20px;
      line-height: 28px;
    }
  }
  ul{
    li{
      position: relative;
      padding-left: 40px;
      font-size: 21px;
      line-height: 34px;
      margin-bottom: 24px;
      color: var(--white-color);
      img{
        position: absolute;
        left: 0;
      }
    }
  }
}


// rtl support
[dir="rtl"]{
	.flowto-jobs-apply-btn{
    text-align: left;
    @include max(991px) {
      text-align: right;
    }
  }
  .flowto-jobs-item-content{
    padding-right: 0;
    padding-left: 15%;
    @include max(1199px) {
      padding-left: 8%;
    }
    @include max(991px) {
      padding-left: 0;
    }
  }
  .flowto-position-requirement-item {
    p{
      padding-left: 0;
      padding-right: 35px;
      &::before{
        left: auto;
        right: 20px;
      }
    }
  }
  .flowto-job-role {
    ul{
      li{
        padding-left: 0;
        padding-right: 30px;
        img{
          left: auto;
          right: 0;
        }
      }
    }
  }
}