{% extends "layout/layout.html" %}
{% set page_title = "Our Blog" %}
 {% block content %}

{% include "../templates/layout/header-footer/header-three.html" %} 

<div class="flowto-breadcrumb">
  <div class="container">
    {% include "../templates/components/breadcrumbs/breadcrumbs.html" %}
  </div>
</div>
<!-- End breadcrumb -->

<div class="section flowto-section-padding2">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="single-post-item">
          <div class="post-thumbnail">
            <img src="assets/images/blog/blog3.png" alt="">
          </div>
          <div class="post-content">
            <div class="post-meta">
              <ul>
                <li><a class="date" href="">June 18, 2024</a></li>
                <li><a class="category" href="">Finance</a></li>
              </ul>
            </div>
            <a href="single-blog.html">
              <h4 class="entry-title">
                Boosting the Financial Health of Low-Income Workers in Kenya Through a Holistic Banking Platform             
              </h4>
            </a>
            <p>Formal financial inclusion is high in Kenya and has consistently increased over the last few decades: 84% of adult Kenyans in 2021 (vs 27% in 2006) had...</p>
            <a class="post-read-more" href="single-blog.html">
              Read More
              <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.6667 1.16602L16.5 6.99935M16.5 6.99935L10.6667 12.8327M16.5 6.99935L1.5 6.99935" stroke="#414141" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>                
            </a>
          </div> 
        </div>
        <div class="single-post-item">
          <div class="post-thumbnail">
            <img src="assets/images/blog/blog4.png" alt="">
          </div>
          <div class="post-content">
            <div class="post-meta">
              <ul>
                <li><a class="date" href="">June 18, 2024</a></li>
                <li><a class="category" href="">Business</a></li>
              </ul>
            </div>
            <a href="single-blog.html">
              <h4 class="entry-title">
                Want to Learn AI: Here Are Google’s Free Generative AI Courses to Transform Your Skills!            
              </h4>
            </a>
            <p>If you have been following me, you might be aware that the CEO of Google DeepMind recently stated that we could see some form of Artificial General Intelligence...</p>
            <a class="post-read-more" href="single-blog.html">
              Read More
              <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.6667 1.16602L16.5 6.99935M16.5 6.99935L10.6667 12.8327M16.5 6.99935L1.5 6.99935" stroke="#414141" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>                
            </a>
          </div> 
        </div>
        <div class="single-post-item">
          <div class="post-thumbnail">
            <img src="assets/images/blog/blog5.png" alt="">
          </div>
          <div class="post-content">
            <div class="post-meta">
              <ul>
                <li><a class="date" href="">June 26, 2024</a></li>
                <li><a class="category" href="">Marketing</a></li>
              </ul>
            </div>
            <a href="single-blog.html">
              <h4 class="entry-title">
                Digital Transformation: How Direct Marketing has evolved in Canada during the Pandemic            
              </h4>
            </a>
            <p>The COVID-19 pandemic has changed people’s lives significantly, including the way businesses connect with their consumers. As consumer behavior changed...</p>
            <a class="post-read-more" href="single-blog.html">
              Read More
              <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.6667 1.16602L16.5 6.99935M16.5 6.99935L10.6667 12.8327M16.5 6.99935L1.5 6.99935" stroke="#414141" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>                
            </a>
          </div> 
        </div>
        <div class="flowto-navigation">
          <nav class="navigation pagination" aria-label="Posts">
            <div class="nav-links">
              <span aria-current="page" class="page-numbers current">1</span>
              <a class="page-numbers" href="">2</a>
              <a class="next page-numbers" href="">
                next
              </a>
            </div>
          </nav>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="right-sidebar">
          <div class="widget">
            <div class="wp-block-search__inside-wrapper">
              <input type="search" placeholder="Search..." class="wp-block-search__input">
              <button id="wp-block-search__button" type="submit">
                <img src="assets/images/blog/search.png" alt="">
              </button>
            </div>
          </div>
          <div class="widget">
            <h4 class="wp-block-heading">Categories:</h4>
            <ul>
              <li><a href="">Business & Marketing (19)</a></li>
              <li><a href="">Technology (08)</a></li>
              <li><a href="">Blockchain (22)</a></li>
              <li><a href="">Digital Agency (04)</a></li>
              <li><a href="">Development</a></li>
            </ul>
          </div>
          <div class="widget flowto_recent_posts_Widget">
            <h4 class="wp-block-heading">Recent Posts:</h4>
            <div class="post-item">
              <div class="post-thumb">
                <a href="">
                  <img src="assets/images/blog/blog1.png" alt="">
                </a>
              </div>
              <div class="post-text">
                <div class="post-date">
                  June 18, 2024
                </div>
                <a class="post-title" href="">Boost your SEO: best practices and strategies</a>
              </div>
            </div>
            <div class="post-item">
              <div class="post-thumb">
                <a href="">
                  <img src="assets/images/blog/blog2.png" alt="">
                </a>
              </div>
              <div class="post-text">
                <div class="post-date">
                  June 18, 2024
                </div>
                <a class="post-title" href="">How to spark creativity in the next 4 minutes</a>
              </div>
            </div>
            <div class="post-item">
              <div class="post-thumb">
                <a href="">
                  <img src="assets/images/blog/blog3.png" alt="">
                </a>
              </div>
              <div class="post-text">
                <div class="post-date">
                  June 18, 2024
                </div>
                <a class="post-title" href="">How to design your life maximum productivity</a>
              </div>
            </div>
          </div>
          <div class="widget">
            <h4 class="wp-block-heading">Tags:</h4>
            <div class="wp-block-tag-cloud">
              <a href="">Artical</a>
              <a href="">Business</a>
              <a href="">Digital</a>
              <a href="">Technology</a>
              <a href="">UI/UX</a>
              <a href="">Design</a>
              <a href="">NFT</a>
              <a href="">Crypto</a>
              <a href="">Finence</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section blue-bg flowto-section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xl-7 col-lg-7">
        <div class="flowto-default-content light">
          <h2>Get the latest information from us</h2>
          <div class="flowto-extra-mt">
            <div class="flowto-iconlist iconlist-white small-width">
              <ul>
                <li><img src="assets/images/svg/check-green3.svg" alt="">24/7 Support</li>
                <li><img src="assets/images/svg/check-green3.svg" alt="">Cancel Anytime</li>
                <li><img src="assets/images/svg/check-green3.svg" alt="">Free Forever</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-5 offset-xl-1 d-flex align-items-center">
        <div class="flowto-subscribe-two flowto-inner-cta">
          <form action="#">
            <input type="email" placeholder="Enter your email">
            <button class="flowto-outline-btn" id="flowto-subscription-btn" type="submit">
              <span>Subscribe Now</span>
            </button>
           </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->


{% include "../templates/layout/header-footer/footer-one.html" %} 
  
{% endblock %}
