
{% extends "layout/layout.html" %} {% block content %}



{% include "../templates/layout/header-footer/account-header.html" %} 


<div class="section flowto-coming-soon">
  <div class="container">
    <div class="flowto-coming-content">
      <img src="assets/images/Progress.png" alt="">
      <h1>
        Coming soon!
      </h1>
      <p>Get notified when we launch! We're coming, with something special for you. enter your email here and stay with us.</p>
    </div>
  
    <form action="#">
      <div class="flowto-coming-newsletter">
        <input type="email" placeholder="Enter your email">
        <button type="submit" id="flowto-notified-btn">Get Notified</button>
        <p>We do not share your information with any third party & no spam*</p>
      </div>
    </form>
  </div>
</div>

{% include "../templates/layout/header-footer/extra-footer.html" %} 

{% endblock %}
