{% extends "layout/layout.html" %}
 {% block content %}

{% include "../templates/layout/header-footer/header-one.html" %} 

<div class="section flowto-extra-section">
  <div class="container">
    <div class="flowto-errors-wrap">
      <div class="flowto-errors-thumb">
        <img src="assets/images/about/404.png" alt="">
      </div>
      <h2>Oops! Looks like you took a wrong turn</h2>
      <div class="flowto-extra-mt">
        <a class="flowto-default-btn" href="index.html"><span>Back To Home</span></a>
      </div>
    </div>
  </div>
</div>
<!-- End section -->




{% include "../templates/layout/header-footer/footer-one.html" %} 
  
{% endblock %}
