{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/header-five.html" %} 

<div class="flowto-hero-section5 dark-bg" style="background-image: url(assets/images/v5/shapes-hero.png)">
  <div class="container">
    <div class="flowto-hero-content center light">
      <h1>Increase web traffic with <span>SEO experts</span></h1>
      <p>If you are looking for the best SEO agency for your business, we are the perfect choice. We have over two decades of experience in the SEO industry and know how to help your website rank.</p>
      <div class="flowto-extra-mt">
        <div class="flowto-subscribe-three">
          <form action="#">
            <input type="email" placeholder="Enter Your Website">
            <button class="flowto-default-btn flowto-subscription-btn three pill hover-white" id="flowto-subscription-btn" type="submit">
              <span>Get A Proposal</span>
            </button>
           </form>
        </div>
      </div>
      <div class="flowto-extra-mt">
        <div class="flowto-iconlist iconlist-white extra-width">
          <ul>
            <li><img src="assets/images/svg/check-green4.svg" alt="">24/7 Support</li>
            <li><img src="assets/images/svg/check-green4.svg" alt="">Cancel Anytime</li>
            <li><img src="assets/images/svg/check-green4.svg" alt="">No credit card is required</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section flowto-section-padding4">
  <div class="container">
    <div class="flowto-section-title center">
      <h6>Trusted by the most innovative companies worldwide</h6>
    </div>
    <div class="flowto-brand-slider2">
      <div class="flowto-brand-item">
        <img src="assets/images/v3/b_1.png" alt="">
      </div>
      <div class="flowto-brand-item">
        <img src="assets/images/v3/b_2.png" alt="">
      </div>
      <div class="flowto-brand-item">
        <img src="assets/images/v3/b_3.png" alt="">
      </div>
      <div class="flowto-brand-item">
        <img src="assets/images/v3/b_4.png" alt="">
      </div>
      <div class="flowto-brand-item">
        <img src="assets/images/v3/b_5.png" alt="">
      </div>
      <div class="flowto-brand-item">
        <img src="assets/images/v3/b_1.png" alt="">
      </div>
      <div class="flowto-brand-item">
        <img src="assets/images/v3/b_2.png" alt="">
      </div>
      <div class="flowto-brand-item">
        <img src="assets/images/v3/b_3.png" alt="">
      </div>
      <div class="flowto-brand-item">
        <img src="assets/images/v3/b_4.png" alt="">
      </div>
      <div class="flowto-brand-item">
        <img src="assets/images/v3/b_5.png" alt="">
      </div>
    </div>
  </div>
</div>
<!-- end section -->

<div class="container">
  <div class="flowto-divider defarent-color"></div>
</div>
<!-- End divider -->

<div class="section flowto-section-padding">
  <div id="flowto-counter"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="flowto-thumb">
          <img src="assets/images/v5/thumb-v5-1.png" alt="">
        </div>
      </div>
      <div class="col-lg-7">
        <div class="flowto-default-content m-left-85">
          <h2>Increase organic traffic to website</h2>
          <p>SEO is often referred to as a ‘long-term play’ in the marketing world. The benefits of SEO gain momentum the longer you invest. As your website content continues to gain viewers and approach.</p>
          <p>Yet, with the SEO agency give your chances are more than higher your website gains is organic earned traffic and free of charge. </p>
          <div class="flowto-extra-mt">
            <div class="flowto-counter-wrap">
              <div class="flowto-counter-data">
                <h3 class="flowto-counter-number"><span data-percentage="98" class="flowto-counter"></span><em>%</em></h3>
                <p>Customer satisfaction</p>
              </div>
              <div class="flowto-counter-data">
                <h3 class="flowto-counter-number"><span data-percentage="75" class="flowto-counter"></span><em>K</em></h3>
                <p>registered attendees</p>
              </div>
              <div class="flowto-counter-data">
                <h3 class="flowto-counter-number"><span data-percentage="4.1" class="flowto-counter"></span><em>M</em></h3>
                <p>social followers</p>
              </div>
            </div>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section dark-bg flowto-section-padding3">
  <div class="container">
    <div class="flowto-section-title center light w-large-xl">
      <h2>Advanced SEO services to boost your brand</h2>
      <p>Discovered our customized SEO services & you can double, triple or quadruple your sales & income. Beat your competition with professional SEO services!</p>
    </div>
    <div class="row">
      <div class="col-xl-4 col-md-6">
        <div class="flowto-iconbox-wrap border-all bg-hover">
          <div class="flowto-iconbox-icon">
            <img src="assets/images/v5/icon-v5-1.svg" alt="">             
          </div>
          <div class="flowto-iconbox-data light">
            <h5>Expert SEO packages</h5>
            <p>Most search engine optimization service aim to fill your sales channel with relevant.</p>
            <a class="flowto-iconbox-btn" href="">
              <img src="assets/images/svg/arrow-right-white.svg" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="flowto-iconbox-wrap border-all bg-hover">
          <div class="flowto-iconbox-icon">
            <img src="assets/images/v5/icon-v5-2.svg" alt="">             
          </div>
          <div class="flowto-iconbox-data light">
            <h5>Web analytics & consulting</h5>
            <p>Any business that has a website or online presence must needs good web analytics. </p>
            <a class="flowto-iconbox-btn" href="">
              <img src="assets/images/svg/arrow-right-white.svg" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="flowto-iconbox-wrap border-all bg-hover">
          <div class="flowto-iconbox-icon">
            <img src="assets/images/v5/icon-v5-3.svg" alt="">             
          </div>
          <div class="flowto-iconbox-data light">
            <h5>SEO website audit services</h5>
            <p>Today, no business can survive without a proper SEO strategy, having website audit.</p>
            <a class="flowto-iconbox-btn" href="">
              <img src="assets/images/svg/arrow-right-white.svg" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="flowto-iconbox-wrap border-all bg-hover">
          <div class="flowto-iconbox-icon">
            <img src="assets/images/v5/icon-v5-4.svg" alt="">             
          </div>
          <div class="flowto-iconbox-data light">
            <h5>SEO services for startups</h5>
            <p>We have years of experience pushing new businesses through SEO channels easily.</p>
            <a class="flowto-iconbox-btn" href="">
              <img src="assets/images/svg/arrow-right-white.svg" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="flowto-iconbox-wrap border-all bg-hover">
          <div class="flowto-iconbox-icon">
            <img src="assets/images/v5/icon-v5-5.svg" alt="">             
          </div>
          <div class="flowto-iconbox-data light">
            <h5>PPC marketing services</h5>
            <p>PPC is a method of online advertising. It's done through multiple platforms including.</p>
            <a class="flowto-iconbox-btn" href="">
              <img src="assets/images/svg/arrow-right-white.svg" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="flowto-iconbox-wrap border-all bg-hover">
          <div class="flowto-iconbox-icon">
            <img src="assets/images/v5/icon-v5-6.svg" alt="">             
          </div>
          <div class="flowto-iconbox-data light">
            <h5>Digital marketing plan</h5>
            <p>Improve your presence, and create trust in the eyes of your customers with digitally.</p>
            <a class="flowto-iconbox-btn" href="">
              <img src="assets/images/svg/arrow-right-white.svg" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section flowto-section-padding2">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 offset-lg-1 order-lg-2">
        <div class="flowto-thumb">
          <img src="assets/images/v5/thumb-v5-2.png" alt="">
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center">
        <div class="flowto-default-content">
          <h2>Generated more revenue & trust</h2>
          <p>By optimizing your website for search engines, attract more qualified leads, improve conversion rates and increase revenue.</p>
          <div class="flowto-extra-mt">
            <div class="flowto-iconlist">
              <ul>
                <li><img src="assets/images/svg/check-black.svg" alt="">Your site will be more visible and accessible</li>
                <li><img src="assets/images/svg/check-black.svg" alt="">Optimizing your web pages to improve rankings</li>
                <li><img src="assets/images/svg/check-black.svg" alt="">Increase your sales with high-quality SEO services</li>
              </ul>
            </div>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section flowto-section-padding5">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="flowto-thumb">
          <img src="assets/images/v5/thumb-v5-3.png" alt="">
        </div>
      </div>
      <div class="col-lg-6 offset-lg-1 d-flex align-items-center">
        <div class="flowto-default-content">
          <h2>Save time and resources easily</h2>
          <p>SEO is a complex and time-consuming process that requires a significant amount of resources. Hiring us and we can save you time and resources, allowing you to focus on  your business.</p>
          <p>We have the necessary tools and resources to perform keyword research, analyze website data, and optimize your website.</p>
          <div class="flowto-extra-mt">
            <a class="flowto-default-btn" href=""><span>Schedule A Call Today</span></a>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section flowto-section-padding3 light-bg">
  <div class="container">
    <div class="flowto-section-title center w-large-xl">
      <h2>The best SEO package to suit your needs</h2>
      <p>Our SEO packages are customized for your goals. We definitely don't offer the cheapest services out there, but we do offer the most value for your money.</p>
    </div>
    <div class="pricing-btn dark">
      <label>Billed monthly</label>
      <div class="toggle-btn">
        <input class="form-check-input btn-toggle price-deck-trigger" type="checkbox" id="flexSwitchCheckDefault" data-pricing-trigger data-target="#table-price-value" checked>
      </div>
      <label>Billed annually</label>
    </div>
    <div class="row" id="table-price-value" data-pricing-dynamic data-value-active="monthly">
      <div class="col-xl-4 col-md-6">
        <div class="flowto-pricing-wrap">
          <div class="flowto-pricing-header">
            <h6>Local SEO</h6>
          </div>
          <div class="flowto-pricing-price">
            <h2>$</h2>
            <div class="flowto-price dynamic-value" data-active="19.9" data-monthly="19.9" data-yearly="39.9"></div>
            <p class="dynamic-value" data-active="/Monthly" data-monthly="/Monthly" data-yearly="/ Yearly"></p>
          </div>
          <div class="flowto-pricing-description">
            <p>SEO Package designed for small business with a single niche service provider.</p>
          </div>
          <div class="flowto-pricing-body pricing-body2">
            <p>What's included:</p>
            <ul>
              <li><img src="assets/images/svg/check-black.svg" alt="">On-Page Optimization</li>
              <li><img src="assets/images/svg/check-black.svg" alt="">Google Business Profile</li>
              <li><img src="assets/images/svg/check-black.svg" alt="">40 Total Keywords</li>
              <li class="inactive"><img src="assets/images/svg/check-black.svg" alt="">Social Media Marketing</li>
              <li class="inactive"><img src="assets/images/svg/check-black.svg" alt="">Video Marketing</li>
              <li class="inactive"><img src="assets/images/svg/check-black.svg" alt="">Retargeting Setup</li>
              <li class="inactive"><img src="assets/images/svg/check-black.svg" alt="">CTR Performance Optimization</li>
            </ul>
          </div>
          <a class="flowto-pricing-btn outline" href="pricing.html">Choose The Plan</a>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="flowto-pricing-wrap position-relative">
          <div class="flowto-pricing-header">
            <h6>National SEO</h6>
          </div>
          <div class="flowto-pricing-price">
            <h2>$</h2>
            <div class="flowto-price dynamic-value" data-active="39.9" data-monthly="39.9" data-yearly="69.9"></div>
            <p class="dynamic-value" data-active="/Monthly" data-monthly="/Monthly" data-yearly="/ Yearly"></p>
          </div>
          <div class="flowto-pricing-description">
            <p>SEO package designed for moderately competitive business couple of services.</p>
          </div>
          <div class="flowto-pricing-body pricing-body2">
            <p>What's included:</p>
            <ul>
              <li><img src="assets/images/svg/check-black.svg" alt="">On-Page Optimization</li>
              <li><img src="assets/images/svg/check-black.svg" alt="">Google Business Profile</li>
              <li><img src="assets/images/svg/check-black.svg" alt="">80 Total Keywords</li>
              <li><img src="assets/images/svg/check-black.svg" alt="">Social Media Marketing</li>
              <li class="inactive"><img src="assets/images/svg/check-black.svg" alt="">Video Marketing</li>
              <li class="inactive"><img src="assets/images/svg/check-black.svg" alt="">Retargeting Setup</li>
              <li class="inactive"><img src="assets/images/svg/check-black.svg" alt="">CTR Performance Optimization</li>
            </ul>
          </div>
          <div class="pricing-badge">
            Most Popular!
          </div>
          <a class="flowto-pricing-btn outline active" href="pricing.html">Choose The Plan</a>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="flowto-pricing-wrap">
          <div class="flowto-pricing-header">
            <h6>Enterprise</h6>
          </div>
          <div class="flowto-pricing-price">
            <h2>$</h2>
            <div class="flowto-price dynamic-value" data-active="89.9" data-monthly="89.9" data-yearly="99.9"></div>
            <p class="dynamic-value" data-active="/Monthly" data-monthly="/Monthly" data-yearly="/ Yearly"></p>
          </div>
          <div class="flowto-pricing-description">
            <p>SEO Package designed for business in a competitive small e-commerce websites.</p>
          </div>
          <div class="flowto-pricing-body pricing-body2">
            <p>What's included:</p>
            <ul>
              <li><img src="assets/images/svg/check-black.svg" alt="">On-Page Optimization</li>
              <li><img src="assets/images/svg/check-black.svg" alt="">Google Business Profile</li>
              <li><img src="assets/images/svg/check-black.svg" alt="">1000 Total Keywords</li>
              <li><img src="assets/images/svg/check-black.svg" alt="">Social Media Marketing</li>
              <li><img src="assets/images/svg/check-black.svg" alt="">Video Marketing</li>
              <li><img src="assets/images/svg/check-black.svg" alt="">Retargeting Setup</li>
              <li><img src="assets/images/svg/check-black.svg" alt="">CTR Performance Optimization</li>
            </ul>
          </div>
          <a class="flowto-pricing-btn outline" href="pricing.html">Choose The Plan</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Section -->

<div class="section flowto-section-padding3">
  <div class="container">
    <div class="flowto-section-title">
      <div class="row">
        <div class="col-lg-7">
          <h2>Hear what our customers say</h2>
        </div>
        <div class="col-lg-5 d-flex align-items-center">
          <p>We provide excellent customer service. We have loyal customers all over the world. We take pride in working with outcome-focused client businesses.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6">
        <div class="flowto-testimonial-wrap testimonial-grid">
          <div class="flowto-testimonial-thumb">
            <img src="assets/images/v5/thumb-v5-4.png" alt="">
          </div>
          <div class="flowto-testimonial-content">
            <div class="flowto-testimonial-rating">
              <ul>
                <li><img src="assets/images/svg/rating.svg" alt=""></li>
                <li><img src="assets/images/svg/rating.svg" alt=""></li>
                <li><img src="assets/images/svg/rating.svg" alt=""></li>
                <li><img src="assets/images/svg/rating.svg" alt=""></li>
                <li><img src="assets/images/svg/rating.svg" alt=""></li>
              </ul>
            </div>
            <div class="flowto-testimonial-data">
              <p>Amazing agency! The whole SEO team is knowledgeable, friendly and incredibly helpful. I am very much satisfied with their work.</p>
              <h6>Alex Bury from Canada</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="flowto-testimonial-wrap testimonial-grid">
          <div class="flowto-testimonial-thumb">
            <img src="assets/images/v5/thumb-v5-5.png" alt="">
          </div>
          <div class="flowto-testimonial-content">
            <div class="flowto-testimonial-rating">
              <ul>
                <li><img src="assets/images/svg/rating.svg" alt=""></li>
                <li><img src="assets/images/svg/rating.svg" alt=""></li>
                <li><img src="assets/images/svg/rating.svg" alt=""></li>
                <li><img src="assets/images/svg/rating.svg" alt=""></li>
                <li><img src="assets/images/svg/rating.svg" alt=""></li>
              </ul>
            </div>
            <div class="flowto-testimonial-data">
              <p>I've experienced great support from the SEO team. I'm a few months in and starting to see positive results. I would definitely recommend it!</p>
              <h6 class="m-0">Max Smith from USA</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="container">
  <div class="flowto-divider defarent-color"></div>
</div>
<!-- End divider -->

<div class="section flowto-section-padding">
  <div class="container">
    <div class="flowto-section-title center w-large-xl">
      <h2>Frequently asked questions about SEO</h2>
      <p>To some people, SEO sounds like black magic! Actually, it doesn't! What we do for you is to help your audience find the information relevant to their question.</p>
    </div>
    <div class="flowto-faq-normal-column">
      <div class="flowto-faq-normal-wrap">
        <div class="flowto-faq-normal-item">
          <div class="flowto-faq-normal-icon">
            <img src="assets/images/v5/question.png" alt="">
          </div>
          <div class="flowto-faq-normal-data">
            <h4>How long does it take for your SEO services to see results?</h4>
            <p>Depending on your industry, site age and competition, It can take anywhere from 3 to 8 months to see results.</p>
          </div>
        </div>
        <div class="flowto-faq-normal-item">
          <div class="flowto-faq-normal-icon">
            <img src="assets/images/v5/question.png" alt="">
          </div>
          <div class="flowto-faq-normal-data">
            <h4>Does my business need SEO?</h4>
            <p>Yes, your business should be investing in SEO. Search engine optimization offers a way to increase traffic.</p>
          </div>
        </div>
        <div class="flowto-faq-normal-item">
          <div class="flowto-faq-normal-icon">
            <img src="assets/images/v5/question.png" alt="">
          </div>
          <div class="flowto-faq-normal-data">
            <h4>How much does SEO cost?</h4>
            <p>The cost of SEO services can vary depending on the size and complexity of your website, the amount of required.</p>
          </div>
        </div>
      </div>
      <div class="flowto-faq-normal-wrap">
        <div class="flowto-faq-normal-item">
          <div class="flowto-faq-normal-icon">
            <img src="assets/images/v5/question.png" alt="">
          </div>
          <div class="flowto-faq-normal-data">
            <h4>Why isn't my website ranking on Google?</h4>
            <p>If your website isn’t ranking on Google, there are a few reasons why that could be. But first, head to Google.</p>
          </div>
        </div>
        <div class="flowto-faq-normal-item">
          <div class="flowto-faq-normal-icon">
            <img src="assets/images/v5/question.png" alt="">
          </div>
          <div class="flowto-faq-normal-data">
            <h4>How can i find the keyword that people are searching for to find business like mine?</h4>
            <p>You can do this using Google's keyword planner or the flowto keyword magic tool.</p>
          </div>
        </div>
        <div class="flowto-faq-normal-item">
          <div class="flowto-faq-normal-icon">
            <img src="assets/images/v5/question.png" alt="">
          </div>
          <div class="flowto-faq-normal-data">
            <h4>Why has my organic traffic dropped?</h4>
            <p>You need to determine whether your website's organic traffic has dropped suddenly or gradually over time.</p>
          </div>
        </div>
      </div>
     
    </div>
  </div>
</div>
<!-- End Section -->


{% include "../templates/layout/header-footer/footer-five.html" %} 
  
{% endblock %}
