{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/header-four.html" %} 

<div class="flowto-hero-section4">
  <div id="flowto-counter"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-7 offset-lg-1 order-lg-2 d-flex align-items-center">
        <div class="flowto-hero-content-wrap">
          <div class="flowto-hero-content">
            <h1>Manage time effortlessly</h1>
            <p>Time management software to boost performance & get paid for every billable minute. An intuitive tool that makes time management painless for the entire team and increases your productivity.</p>
          </div>
          <div class="flowto-extra-mt">
            <div class="flowto-counter-wrap samll-max-width2">
              <div class="flowto-counter-data flowto-counter-data2">
                <h3 class="flowto-counter-number"><span data-percentage="25" class="flowto-counter"></span>M</h3>
                <p>Users Worldwide</p>
              </div>
              <div class="flowto-counter-data flowto-counter-data2">
                <h3 class="flowto-counter-number"><span data-percentage="4.8" class="flowto-counter"></span>/5</h3>
                <p>Download Rating</p>
              </div>
            </div>
          </div>
          <div class="flowto-extra-mt">
            <div class="flowto-two-wrap">
              <a class="flowto-app" href="contact-us.html"><img src="assets/images/v1/play-store.png" alt=""></a>
              <a class="flowto-app" href="contact-us.html"><img src="assets/images/v1/app-store.png" alt=""></a>
            </div>
          </div>
        </div>
        
      </div>
      <div class="col-lg-3 offset-lg-1">
        <div class="flowto-hero-thumb2">
          <img src="assets/images/v4/hero-mobile.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section flowto-section-padding3 light-bg">
  <div class="flowto-section-title center">
    <h2 class="m-0">Features that boost your productivity</h2>
  </div>
  <div class="container">
    <div class="flowto-iconbox-column">
      <div class="flowto-iconbox-wrap">
        <div class="flowto-iconbox-icon">
          <img src="assets/images/v4/icon-v4-1.svg" alt="">             
        </div>
        <div class="flowto-iconbox-data">
          <h5>Fully Customizable</h5>
          <p>An easy, user-friendly time management apps for desktop, web, mobile, & chrome</p>
          <a class="flowto-iconbox-btn" href="">
            View More
            <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.6667 0.970215L16.5 6.80355M16.5 6.80355L10.6667 12.6369M16.5 6.80355L1.5 6.80355" stroke="#414141" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>              
          </a>
        </div>
      </div>
      <div class="flowto-iconbox-wrap">
        <div class="flowto-iconbox-icon">
          <img src="assets/images/v4/icon-v4-2.svg" alt="">                            
        </div>
        <div class="flowto-iconbox-data">
          <h5>Team Management</h5>
          <p>Know who is present at work and track absences and reasons behind your team</p>
          <a class="flowto-iconbox-btn" href="">
            View More
            <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.6667 0.970215L16.5 6.80355M16.5 6.80355L10.6667 12.6369M16.5 6.80355L1.5 6.80355" stroke="#414141" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>              
          </a>
        </div>
      </div>
      <div class="flowto-iconbox-wrap">
        <div class="flowto-iconbox-icon">
          <img src="assets/images/v4/icon-v4-3.svg" alt="">                            
        </div>
        <div class="flowto-iconbox-data">
          <h5>Reports & Analysis</h5>
          <p>See how much time has been spent on  projects & tasks, easy to create reports</p>
          <a class="flowto-iconbox-btn" href="">
            View More
            <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.6667 0.970215L16.5 6.80355M16.5 6.80355L10.6667 12.6369M16.5 6.80355L1.5 6.80355" stroke="#414141" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>              
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section flowto-section-padding2">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 offset-lg-1 order-lg-2">
        <div class="flowto-thumb">
          <img src="assets/images/v4/mocup1.png" alt="">
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center">
        <div class="flowto-default-content-wrap">
          <div class="flowto-default-content">
            <h2>Specify the time for each task</h2>
            <p>Organize your time with tasks & assign them to your team. Track project profitability with hourly rates, budgets, or estimates.</p>
          </div>
          <div class="flowto-divider defarent-color divider-margin"></div>
          <div class="flowto-iconlist iconlist-grid">
            <ul>
              <li><img src="assets/images/svg/check-blue.svg" alt="">Project management</li>
              <li><img src="assets/images/svg/check-blue.svg" alt="">Flexible time off policy</li>
              <li><img src="assets/images/svg/check-blue.svg" alt="">Time off calendar</li>
              <li><img src="assets/images/svg/check-blue.svg" alt="">Detailed all reports</li>
              <li><img src="assets/images/svg/check-blue.svg" alt="">Team management</li>
              <li><img src="assets/images/svg/check-blue.svg" alt="">Billing and invoicing</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section">
  <div class="container">
    <div class="flowto-section-title center w-large">
      <h2>Improve attendance with time-off tracking</h2>
      <p>Online & offline it allows you to see how your or your team’s time is spent. Smart alerts and notifications will keep you tuned in to ensure you record every minute.</p>
    </div>
    <div class="flowto-video-wrap border-radius30 m-0">
      <img src="assets/images/v4/dashboard-thumb.png" alt="">
      <a class="video-init flowto-video-icon" href="https://www.youtube.com/watch?v=SixdAQtWJQ8">
        <img src="assets/images/v1/play-btn.svg" alt="">
        <div class="waves wave-1"></div>
        <div class="waves wave-2"></div>
        <div class="waves wave-3"></div>
      </a>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section flowto-section-padding2">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="flowto-thumb">
          <img src="assets/images/v4/mocup2.png" alt="">
        </div>
      </div>
      <div class="col-lg-6 offset-lg-1 d-flex align-items-center">
        <div class="flowto-default-content-wrap">
          <div class="flowto-default-content">
            <h2>Control working hours effectively</h2>
            <p>Visually time to plan, track, and deliver work projects without last-minute rush and stress. With the delightfully simple drag-and-drop timeline, you can:</p>
          </div>
          <div class="flowto-extra-mt">
            <div class="flowto-feature-item">
              <div class="flowto-feature-icon">
                <img src="assets/images/v4/clock.svg" alt="">
              </div>
              <div class="flowto-feature-data">
                <h6>Effective work schedules</h6>
                <p>Create effective work schedules without clunky spreadsheets or complex software. Visually plan, track, and deliver work projects</p>
              </div>
            </div>
            <div class="flowto-feature-item">
              <div class="flowto-feature-icon">
                <img src="assets/images/v4/eye.svg" alt="">
              </div>
              <div class="flowto-feature-data">
                <h6>Visualize your day</h6>
                <p>Visualize your day as you’re going through it using the timeline. See exactly how much time you’ve manage in total, what you’ve</p>
              </div>
            </div>
            <div class="flowto-feature-item">
              <div class="flowto-feature-icon">
                <img src="assets/images/v4/document-text.svg" alt="">
              </div>
              <div class="flowto-feature-data">
                <h6>Organize entries & notes</h6>
                <p>Organize your timers and entries with the power of tags + notes. Tag your timers & use notes to keep track of what you’re working</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section blue-bg flowto-section-padding3">
  <div class="container">
    <div class="flowto-section-title center light">
      <h2>Start managing your time in 3 easy steps</h2>
      <p>It is an intuitive, lightweight solution for managing hours and projects that is easy to adopt and use every day, we've designed it to be super fast.</p>
    </div>
    <div class="row position-relative">
      <div class="col-lg-4 col-md-6">
        <div class="flowto-numberbox-wrap">
          <div class="flowto-numberbox-number">
            <h4>1</h4>
          </div>
          <div class="flowto-numberbox-data">
            <h5>Download for free</h5>
            <p>Easily download free app for iOS, Android, macOS, Windows, or Linux on any device anytime just-one-click.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="flowto-numberbox-wrap">
          <div class="flowto-numberbox-number">
            <h4>2</h4>
          </div>
          <div class="flowto-numberbox-data">
            <h5>Create your account</h5>
            <p>Create your account in minutes with the necessary information to ensure the  safe and security of your information.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
        <div class="flowto-numberbox-wrap">
          <div class="flowto-numberbox-number">
            <h4>3</h4>
          </div>
          <div class="flowto-numberbox-data">
            <h5>Start managing time</h5>
            <p>Time management manually using a timer or automatically for scheduled tasks and to-do lists & also track hours.</p>
          </div>
        </div>
      </div>
      <div class="flowto-numberbox-shape shape1">
        <img src="assets/images/v4/line1.png" alt="">
      </div>
      <div class="flowto-numberbox-shape shape2">
        <img src="assets/images/v4/line2.png" alt="">
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section flowto-section-padding3">
  <div class="container">
    <div class="flowto-section-title">
      <div class="row">
        <div class="col-lg-7">
          <h2>Millions of users drop their reviews</h2>
        </div>
        <div class="col-lg-5 d-flex align-items-center">
          <div class="flowto-title-btn">
            <a class="flowto-icon-btn" href="">
              <span>
                Read all the reviews on Trustpilot.com           
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-6">
        <div class="flowto-testimonial-wrap testimonial-border">
          <div class="flowto-testimonial-rating">
            <img src="assets/images/v4/rating.png" alt="">
          </div>
          <div class="flowto-testimonial-data">
            <p>I have been using My Hours for years now, and I've always been attracted by the simplicity and the ease of input. It helped me track my time most readily versus other apps that have cumbersome interfaces. this app does it perfectly!</p>
          </div>
          <div class="flowto-testimonial-author">
            <div class="flowto-testimonial-author-data">
              <span>Karen Lynn</span>
              <p>Founder @ Company</p>
            </div>
          </div>
        </div>
        <div class="flowto-testimonial-wrap testimonial-border">
          <div class="flowto-testimonial-rating">
            <img src="assets/images/v4/rating.png" alt="">
          </div>
          <div class="flowto-testimonial-data">
            <p>"I love that I can manage time & use it to generate meaningful reports to measure time spent."</p>
          </div>
          <div class="flowto-testimonial-author">
            <div class="flowto-testimonial-author-data">
              <span>Michelle</span>
              <p>Virtual Assistant</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6">
        <div class="flowto-testimonial-wrap testimonial-border">
          <div class="flowto-testimonial-rating">
            <img src="assets/images/v4/rating.png" alt="">
          </div>
          <div class="flowto-testimonial-data">
            <p>"I've enjoyed using My Hours, and I use it every day. Great tool for managing my time!"</p>
          </div>
          <div class="flowto-testimonial-author">
            <div class="flowto-testimonial-author-data">
              <span>Thomas</span>
              <p>Marketing Manager</p>
            </div>
          </div>
        </div>
        <div class="flowto-testimonial-wrap testimonial-border">
          <div class="flowto-testimonial-rating">
            <img src="assets/images/v4/rating.png" alt="">
          </div>
          <div class="flowto-testimonial-data">
            <p>"I really love this time management app. It keeps track of all my hours &  really easy to use. I would definitely recommend this app. It's simple, made by people who understand & Reports are good looking and easy to export. Best value for money!”</p>
          </div>
          <div class="flowto-testimonial-author">
            <div class="flowto-testimonial-author-data">
              <span>Alexa Bury</span>
              <p>Student</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-12">
        <div class="row">
          <div class="col-xl-12 col-lg-6">
            <div class="flowto-testimonial-wrap testimonial-border">
              <div class="flowto-testimonial-rating">
                <img src="assets/images/v4/rating.png" alt="">
              </div>
              <div class="flowto-testimonial-data">
                <p>"Ease of use, simplicity, streamlined, it really helped me get my hour tracking in order. No negatives for the purpose and scope for which I am using the app."</p>
              </div>
              <div class="flowto-testimonial-author">
                <div class="flowto-testimonial-author-data">
                  <span>Ellimas Soi</span>
                  <p>Businessman</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-12 col-lg-6">
            <div class="flowto-testimonial-wrap testimonial-border">
              <div class="flowto-testimonial-rating">
                <img src="assets/images/v4/rating.png" alt="">
              </div>
              <div class="flowto-testimonial-data">
                <p>"My Hours is great for managing of time spent on different projects. It makes completing my mandatory timesheets at the end of the week WAY FASTER."</p>
              </div>
              <div class="flowto-testimonial-author">
                <div class="flowto-testimonial-author-data">
                  <span>Paul Haq</span>
                  <p>Engineer</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section dark-bg flowto-section-padding">
  <div class="container">
    <div class="flowto-section-title light center p-0">
      <h2>Start managing your time smartly now!</h2>
      <p>Remember, you can't improve anythings if you don't manage your precious times! If you are tired of constantly guessing, start our app now.</p>
      <div class="flowto-extra-mt">
        <a class="flowto-default-btn hover-white" href=""><span>Get Started - It's Free</span></a>
      </div>
      <div class="flowto-extra-mt">
        <div class="flowto-iconlist iconlist-white">
          <ul>
            <li><img src="assets/images/svg/check-green3.svg" alt="">24/7 Support</li>
            <li><img src="assets/images/svg/check-green3.svg" alt="">Cancel Anytime</li>
            <li><img src="assets/images/svg/check-green3.svg" alt="">Free Forever</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "../templates/layout/header-footer/footer-four.html" %} 
  
{% endblock %}
