{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/header-ten.html" %} 

<div class="flowto-hero-section" style="background-image: url(assets/images/v1/hero-bg.png)">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="flowto-hero-content light small-wrap">
          <h1>All-in-one banking app</h1>
          <p>Nowadays the simplest and most popular online banking solution for that saves time by speeding up your banking work apart from and also this you can do banking anytime, anywhere.</p>
          <a class="flowto-default-btn white-btn"href="contact-us.html"> <span>Start Free Trial</span> </a>
          <div class="flowto-brand-slider1 brand-slider1">
            <div class="flowto-brand-item">
              <img src="assets/images/v1/h-logo1.png" alt="">
            </div>
            <div class="flowto-brand-item">
              <img src="assets/images/v1/h-logo2.png" alt="">
            </div>
            <div class="flowto-brand-item">
              <img src="assets/images/v1/h-logo3.png" alt="">
            </div>
            <div class="flowto-brand-item">
              <img src="assets/images/v1/h-logo1.png" alt="">
            </div>
            <div class="flowto-brand-item">
              <img src="assets/images/v1/h-logo2.png" alt="">
            </div>
            <div class="flowto-brand-item">
              <img src="assets/images/v1/h-logo3.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1">
        <div class="flowto-hero-thumb">
          <img src="assets/images/v1/hero-thumb.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section flowto-section-padding">
  <div class="flowto-section-title center">
    <h3>Expressing trust through numbers</h3>
  </div>
  <div id="flowto-counter"></div>
  <div class="container">
    <div class="flowto-counter-wrap">
      <div class="flowto-counter-data">
        <h2 class="flowto-counter-number"><span data-percentage="120" class="flowto-counter"></span>M</h2>
        <p>Users Worldwide</p>
      </div>
      <div class="flowto-counter-data">
        <h2 class="flowto-counter-number"><span data-percentage="0" class="flowto-counter"></span>%</h2>
        <p>Transaction Fees</p>
      </div>
      <div class="flowto-counter-data">
        <h2 class="flowto-counter-number"><span data-percentage="4.8" class="flowto-counter"></span>/5</h2>
        <p>Download Rating</p>
      </div>
      <div class="flowto-counter-data">
        <h2 class="flowto-counter-number"><span data-percentage="8" class="flowto-counter"></span>X</h2>
        <p>Faster Transaction</p>
      </div>
    </div>
  </div>
</div>
<!-- End section -->


<div class="section flowto-section-padding5 white-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="flowto-thumb boxshadow">
          <img src="assets/images/v1/thumb1.png" alt="">
        </div>
      </div>
      <div class="col-lg-6 offset-lg-1 d-flex align-items-center">
        <div class="flowto-default-content">
          <h2>Control the flow of money easily</h2>
          <p>The process of cash flow planning, tracking, and controlling the movement of cash out of the business through this app easily. </p>
          <p>This includes forecasting future cash needs and ensuring that sufficient funds are available to meet these needs, as well as managing any excess cash in a way that maximizes its value.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section flowto-section-padding2 light-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-lg-2">
        <div class="flowto-thumb">
          <img src="assets/images/v1/thumb2.png" alt="">
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center">
        <div class="flowto-default-content m-right">
          <h2>Save & transfer money quickly</h2>
          <p>This app can help you avoid the long wait times & high fees associated with traditional international money transfers.</p>
          <div class="flowto-divider divider-margin"></div>
          <div class="flowto-iconlist">
            <ul>
              <li><img src="assets/images/svg/check-green.svg" alt="">Unlimited amount of the money transaction</li>
              <li><img src="assets/images/svg/check-green.svg" alt="">Manage, filter and share your earnings</li>
              <li><img src="assets/images/svg/check-green.svg" alt="">Control your spending from your smartphone</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section flowto-section-padding3">
  <div class="container">
    <div class="flowto-section-title center">
      <h2>All the necessary features of banking</h2>
      <p>This banking mobile app generally provides various features that help customers manage their accounts. And also offer advanced features.</p>
    </div>
    <div class="row">
      <div class="col-xl-4 col-md-6">
        <div class="flowto-iconbox-wrap wrap2 m-0">
          <div class="flowto-iconbox-icon">
            <img src="assets/images/v8/icon-v8-1.svg" alt="">             
          </div>
          <div class="flowto-iconbox-data">
            <h5>1. Ease of use</h5>
            <p>The number one requirement when you choosing help desk software is its ease of use and Its good UX will help you.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="flowto-iconbox-wrap wrap2 m-0">
          <div class="flowto-iconbox-icon">
            <img src="assets/images/v8/icon-v8-2.svg" alt="">             
          </div>
          <div class="flowto-iconbox-data">
            <h5>2. Ticket automation</h5>
            <p>AI assistants can help agent categorize incidents, better identify major issues, & adjust based on your help desk.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 offset-lg-0 offset-md-3">
        <div class="flowto-iconbox-wrap wrap2 m-0">
          <div class="flowto-iconbox-icon">
            <img src="assets/images/v8/icon-v8-3.svg" alt="">             
          </div>
          <div class="flowto-iconbox-data">
            <h5>3. Workflow automation</h5>
            <p>Ticketing workflows will allow you to create predefined sequences for any repeatable process onboarding.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="flowto-divider defarent-color"></div>
    <div class="row">
      <div class="col-xl-4 col-md-6">
        <div class="flowto-iconbox-wrap wrap2 m-0">
          <div class="flowto-iconbox-icon">
            <img src="assets/images/v8/icon-v8-4.svg" alt="">             
          </div>
          <div class="flowto-iconbox-data">
            <h5>4. Reporting and analytics</h5>
            <p>Another relevant our help desk software feature is reporting. Being able to have trustable analytics, & customizable.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="flowto-iconbox-wrap wrap2 m-0">
          <div class="flowto-iconbox-icon">
            <img src="assets/images/v8/icon-v8-5.svg" alt="">             
          </div>
          <div class="flowto-iconbox-data">
            <h5>5. Self-service capabilities</h5>
            <p>Self-service capabilities constitute level zero of IT support. They an exist to offer your users 24/7 basic free help.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 offset-lg-0 offset-md-3">
        <div class="flowto-iconbox-wrap wrap2 m-0">
          <div class="flowto-iconbox-icon">
            <img src="assets/images/v8/icon-v8-6.svg" alt="">             
          </div>
          <div class="flowto-iconbox-data">
            <h5>6. Service level management</h5>
            <p>Our help desk has ticketing system with service-level management capabilities can route a ticket to the right agent.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Section -->

<div class="scetion flowto-section-padding2 light-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="flowto-thumb">
          <img src="assets/images/v1/thumb3.png" alt="">
        </div>
      </div>
      <div class="col-lg-6 offset-lg-2">
        <div class="flowto-default-content">
          <h2>Simple interface for better use</h2>
          <p>You can easily download the app on your mobile & open a bank account in your name with the required information.</p>
          <div class="flowto-divider divider-margin"></div>
          
        </div>
        <div class="flowto-accordion-wrap" id="flowto-accordion">
          <div class="flowto-accordion-item open p-left">
            <div class="flowto-accordion-header">
              <h6>Download from Play Store on any device</h6>
              <div class="flowto-active-icon">
                <img src="assets/images/svg/arrow-bottom.svg" alt="">                 
              </div>
            </div>
            <div class="flowto-accordion-body extra-max-width">
              <p>You can easily download the this app from the App Store or Google Play on any device </p>
            </div>
            <div class="flowto-faq-check">
              <img src="assets/images/svg/check-green.svg" alt="">
            </div>
          </div>

          <div class="flowto-accordion-item p-left">
            <div class="flowto-accordion-header">
              <h6>Create an account with the required information</h6>
              <div class="flowto-active-icon">
                <img src="assets/images/svg/arrow-bottom.svg" alt="">                 
              </div>
            </div>
            <div class="flowto-accordion-body extra-max-width">
              <p>Open a secure account for yourself with your name and the necessary information that need </p>
            </div>
            <div class="flowto-faq-check">
              <img src="assets/images/svg/check-green.svg" alt="">
            </div>
          </div>

          <div class="flowto-accordion-item p-left">
            <div class="flowto-accordion-header">
              <h6>Experience the best banking services anytime</h6>
              <div class="flowto-active-icon">
                <img src="assets/images/svg/arrow-bottom.svg" alt="">                 
              </div>
            </div>
            <div class="flowto-accordion-body extra-max-width">
              <p>Mobile banking allows consumers to be able to access banking services from anywhere. </p>
            </div>
            <div class="flowto-faq-check">
              <img src="assets/images/svg/check-green.svg" alt="">
            </div>
          </div>
       
        </div>
        
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section flowto-section-padding2 light-bg">
  <div class="container">
    <div class="flowto-section-title center">
      <h2>We've earned a 4.8-star Trustpilot rating</h2>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="flowto-testimonial-wrap">
          <div class="flowto-testimonial-rating">
            <ul>
              <li><img src="assets/images/icon/star-green.svg" alt=""></li>
              <li><img src="assets/images/icon/star-green.svg" alt=""></li>
              <li><img src="assets/images/icon/star-green.svg" alt=""></li>
              <li><img src="assets/images/icon/star-green.svg" alt=""></li>
              <li><img src="assets/images/icon/star-green.svg" alt=""></li>
            </ul>
          </div>
          <div class="flowto-testimonial-data">
            <h3>Best finance budgeting app ever!</h3>
            <p>"This finance app has been a game-changer for me! It's made budgeting and tracking my expenses so much easier. I love how intuitive and user-friendly it is."</p>
          </div>
          <div class="flowto-testimonial-author">
            <div class="flowto-testimonial-author-thumb">
              <img src="assets/images/v1/t_user1.png" alt="">
            </div>
            <div class="flowto-testimonial-author-data">
              <span>Jonas Aly</span>
              <p>Founder @ Company</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="flowto-testimonial-wrap">
          <div class="flowto-testimonial-rating">
            <ul>
              <li><img src="assets/images/icon/star-green.svg" alt=""></li>
              <li><img src="assets/images/icon/star-green.svg" alt=""></li>
              <li><img src="assets/images/icon/star-green.svg" alt=""></li>
              <li><img src="assets/images/icon/star-green.svg" alt=""></li>
              <li><img src="assets/images/icon/star-green.svg" alt=""></li>
            </ul>
          </div>
          <div class="flowto-testimonial-data">
            <h3>Super helpful to watch my spend</h3>
            <p>"I can't thank this app enough for helping me stay on top of my bills. The bill payment reminders have saved me from late fees, & more organized with my finances."</p>
          </div>
          <div class="flowto-testimonial-author">
            <div class="flowto-testimonial-author-thumb">
              <img src="assets/images/v1/t_user2.png" alt="">
            </div>
            <div class="flowto-testimonial-author-data">
              <span>Mark Bures</span>
              <p>Businessman</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="flowto-testimonial-wrap">
          <div class="flowto-testimonial-rating">
            <ul>
              <li><img src="assets/images/icon/star-green.svg" alt=""></li>
              <li><img src="assets/images/icon/star-green.svg" alt=""></li>
              <li><img src="assets/images/icon/star-green.svg" alt=""></li>
              <li><img src="assets/images/icon/star-green.svg" alt=""></li>
              <li><img src="assets/images/icon/star-green.svg" alt=""></li>
            </ul>
          </div>
          <div class="flowto-testimonial-data">
            <h3>Great app that saves money</h3>
            <p>"The app's integration with my bank accounts is seamless. I can easily check my balances and transactions without having to log in separately."</p>
          </div>
          <div class="flowto-testimonial-author">
            <div class="flowto-testimonial-author-thumb">
              <img src="assets/images/v1/t_user3.png" alt="">
            </div>
            <div class="flowto-testimonial-author-data">
              <span>William Kolas</span>
              <p>Student</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="flowto-testimonial-wrap">
          <div class="flowto-testimonial-rating">
            <ul>
              <li><img src="assets/images/icon/star-green.svg" alt=""></li>
              <li><img src="assets/images/icon/star-green.svg" alt=""></li>
              <li><img src="assets/images/icon/star-green.svg" alt=""></li>
              <li><img src="assets/images/icon/star-green.svg" alt=""></li>
              <li><img src="assets/images/icon/star-green.svg" alt=""></li>
            </ul>
          </div>
          <div class="flowto-testimonial-data">
            <h3>Seriously life changing app!</h3>
            <p>"The financial insights and reports have been eye-opening. I now have a better understanding of my spending habit and can make adjustment to save more."</p>
          </div>
          <div class="flowto-testimonial-author">
            <div class="flowto-testimonial-author-thumb">
              <img src="assets/images/v1/t_user4.png" alt="">
            </div>
            <div class="flowto-testimonial-author-data">
              <span>Andrew Chan</span>
              <p>Manager@ AB Company</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flowto-testimonial-btn">
      <a class="flowto-default-btn" href="testimonials.html">
        <span>View All Reviews</span>
      </a>
    </div>
  </div>
</div>
<!-- End Section -->

<div class="section flowto-section-padding3 white-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="flowto-section-title">
          <h2>Browse our latest news and articles</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-6">
        <div class="flowto-blog-wrap">
          <a href="">
            <div class="flowto-blog-thumb">
              <img src="assets/images/blog/blog1.png" alt="">
              <div class="flowto-blog-categorie">
                Business
              </div>
            </div>
          </a>
          <div class="flowto-blog-data">
            <p>June 18, 2024</p>
            <a href=""><h3>What is a good solution for finance apps?</h3></a>
            <a class="flowto-blog-btn" href="">
              <svg width="26" height="22" viewBox="0 0 26 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.5 2.25L24.25 11M24.25 11L15.5 19.75M24.25 11L1.75 11" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>              
            </a>
          </div>
          
        </div>
      </div>
      <div class="col-xl-4 col-lg-6">
        <div class="flowto-blog-wrap">
          <a href="">
            <div class="flowto-blog-thumb">
              <img src="assets/images/blog/blog2.png" alt="">
              <div class="flowto-blog-categorie">
                Technology
              </div>
            </div>
          </a>
          <div class="flowto-blog-data">
            <p>June 18, 2024</p>
            <a href=""><h3>What makes banking app development ideal?</h3></a>
            <a class="flowto-blog-btn" href="">
              <svg width="26" height="22" viewBox="0 0 26 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.5 2.25L24.25 11M24.25 11L15.5 19.75M24.25 11L1.75 11" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>              
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6">
        <div class="flowto-blog-wrap">
          <a href="">
            <div class="flowto-blog-thumb">
              <img src="assets/images/blog/blog3.png" alt="">
              <div class="flowto-blog-categorie">
                Management
              </div>
            </div>
          </a>
          <div class="flowto-blog-data">
            <p>June 18, 2024</p>
            <a href=""><h3>Finance apps that will help you make money!</h3></a>
            <a class="flowto-blog-btn" href="">
              <svg width="26" height="22" viewBox="0 0 26 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.5 2.25L24.25 11M24.25 11L15.5 19.75M24.25 11L1.75 11" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>              
            </a>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Section -->

<div class="flowto-cta-section blue-bg ">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 order-lg-2 d-flex align-items-center">
        <div class="flowto-default-content light">
          <h2>Start managing your money now!</h2>
          <p>Your financial future is just a download away. Get our app and experience the benefits of better money management.</p>
          <div class="flowto-extra-mt">
            <div class="flowto-two-wrap">
              <a class="flowto-app" href="contact-us.html"><img src="assets/images/v1/play-store.png" alt=""></a>
              <a class="flowto-app" href="contact-us.html"><img src="assets/images/v1/app-store.png" alt=""></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="flowto-cta-thumb">
          <img src="assets/images/v1/cta-mocup.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->


{% include "../templates/layout/header-footer/footer-nine.html" %} 
  
{% endblock %}
