{% extends "layout/layout.html" %}
{% set page_title = "Integrations" %}
 {% block content %}

{% include "../templates/layout/header-footer/header-three.html" %} 

<div class="flowto-breadcrumb">
  <div class="container">
    {% include "../templates/components/breadcrumbs/breadcrumbs.html" %}
  </div>
</div>
<!-- End breadcrumb -->

<div class="section flowto-section-padding overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="flowto-thumb all-brand-logo">
          <img src="assets/images/v2/brand-logo.png" alt="">
        </div>
      </div>
      <div class="col-lg-6 offset-lg-1 d-flex align-items-center">
        <div class="flowto-default-content">
          <h2>Integrated tools you know & love</h2>
          <p>This sales management software easily fits into your business processes by integrating with your everyday tools.</p>
          <div class="flowto-extra-mt">
            <a class="flowto-default-btn pill" href="integrations.html">
              <span>See All Integrations</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section flowto-section-padding3 light-bg">
  <div class="container">
    <div class="flowto-section-title center">
      <h2>Our integrations</h2>
    </div>
    <div class="row">
      <div class="col-xl-4 col-md-6">
        <div class="flowto-integration-wrap">
          <div class="flowto-integration-header">
            <div class="flowto-integration-icon">
              <img src="assets/images/tools/t_1.png" alt="">
            </div>
            <div class="flowto-integration-data">
              <h5>Google</h5>
              <p>Productivity</p>
            </div>
          </div>
          <div class="flowto-integration-body">
            <p>Google offers a comprehensive set of core integration tools to connect & manage the multitude operation.</p>
            <a class="flowto-iconbox-btn" href="single-service.html"><img src="assets/images/svg/arrow-right-black.svg" alt=""></a>
          </div>
         </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="flowto-integration-wrap">
          <div class="flowto-integration-header">
            <div class="flowto-integration-icon">
              <img src="assets/images/tools/t_2.png" alt="">
            </div>
            <div class="flowto-integration-data">
              <h5>Mailchimp</h5>
              <p>CRM</p>
            </div>
          </div>
          <div class="flowto-integration-body">
            <p>Manually connect your website to Mailchimp, or add our code to a website builder, and you can add.</p>
            <a class="flowto-iconbox-btn" href="single-service.html"><img src="assets/images/svg/arrow-right-black.svg" alt=""></a>
          </div>
         </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="flowto-integration-wrap">
          <div class="flowto-integration-header">
            <div class="flowto-integration-icon">
              <img src="assets/images/tools/t_3.png" alt="">
            </div>
            <div class="flowto-integration-data">
              <h5>Discord</h5>
              <p>Social Media</p>
            </div>
          </div>
          <div class="flowto-integration-body">
            <p>Discord integration allows users to send form responses to a shared discord channel.</p>
            <a class="flowto-iconbox-btn" href="single-service.html"><img src="assets/images/svg/arrow-right-black.svg" alt=""></a>
          </div>
         </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="flowto-integration-wrap">
          <div class="flowto-integration-header">
            <div class="flowto-integration-icon">
              <img src="assets/images/tools/t_4.png" alt="">
            </div>
            <div class="flowto-integration-data">
              <h5>LinkedIn</h5>
              <p>Social Media</p>
            </div>
          </div>
          <div class="flowto-integration-body">
            <p>Automatically pull info from Twitter, WordPress, and other apps to post company updates or share a post.</p>
            <a class="flowto-iconbox-btn" href="single-service.html"><img src="assets/images/svg/arrow-right-black.svg" alt=""></a>
          </div>
         </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="flowto-integration-wrap">
          <div class="flowto-integration-header">
            <div class="flowto-integration-icon">
              <img src="assets/images/tools/t_5.png" alt="">
            </div>
            <div class="flowto-integration-data">
              <h5>Zapier</h5>
              <p>Social Media</p>
            </div>
          </div>
          <div class="flowto-integration-body">
            <p>Zapier is an online automation tool that connects your apps & services. You can connect two or more apps.</p>
            <a class="flowto-iconbox-btn" href="single-service.html"><img src="assets/images/svg/arrow-right-black.svg" alt=""></a>
          </div>
         </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="flowto-integration-wrap">
          <div class="flowto-integration-header">
            <div class="flowto-integration-icon">
              <img src="assets/images/tools/t_6.png" alt="">
            </div>
            <div class="flowto-integration-data">
              <h5>Slack</h5>
              <p>CRM</p>
            </div>
          </div>
          <div class="flowto-integration-body">
            <p>Slack integrations are variants of a tool or product that are directly accessible via Slack.</p>
            <a class="flowto-iconbox-btn" href="single-service.html"><img src="assets/images/svg/arrow-right-black.svg" alt=""></a>
          </div>
         </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="flowto-integration-wrap">
          <div class="flowto-integration-header">
            <div class="flowto-integration-icon">
              <img src="assets/images/tools/t_7.png" alt="">
            </div>
            <div class="flowto-integration-data">
              <h5>Facebook</h5>
              <p>Social Media</p>
            </div>
          </div>
          <div class="flowto-integration-body">
            <p>A Facebook integration is a connection between a Facebook app and another external app.</p>
            <a class="flowto-iconbox-btn" href="single-service.html"><img src="assets/images/svg/arrow-right-black.svg" alt=""></a>
          </div>
         </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="flowto-integration-wrap">
          <div class="flowto-integration-header">
            <div class="flowto-integration-icon">
              <img src="assets/images/tools/t_8.png" alt="">
            </div>
            <div class="flowto-integration-data">
              <h5>Twitter</h5>
              <p>Social Media</p>
            </div>
          </div>
          <div class="flowto-integration-body">
            <p>Twitter allows access to parts of our service via APIs to allow people to build software that integrates.</p>
            <a class="flowto-iconbox-btn" href="single-service.html"><img src="assets/images/svg/arrow-right-black.svg" alt=""></a>
          </div>
         </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="flowto-integration-wrap">
          <div class="flowto-integration-header">
            <div class="flowto-integration-icon">
              <img src="assets/images/tools/t_9.png" alt="">
            </div>
            <div class="flowto-integration-data">
              <h5>Youtube</h5>
              <p>Streaming</p>
            </div>
          </div>
          <div class="flowto-integration-body">
            <p>YouTube is a video sharing platform allowing users to upload, view, rate, share, add to playlists, comments.</p>
            <a class="flowto-iconbox-btn" href="single-service.html"><img src="assets/images/svg/arrow-right-black.svg" alt=""></a>
          </div>
         </div>
      </div>
     
    </div>
  </div>
</div>
<!-- End Section -->

<div class="section blue-bg flowto-section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xl-7 col-lg-7">
        <div class="flowto-default-content light">
          <h2>Get the latest information from us</h2>
          <div class="flowto-extra-mt">
            <div class="flowto-iconlist iconlist-white small-width">
              <ul>
                <li><img src="assets/images/svg/check-green3.svg" alt="">24/7 Support</li>
                <li><img src="assets/images/svg/check-green3.svg" alt="">Cancel Anytime</li>
                <li><img src="assets/images/svg/check-green3.svg" alt="">Free Forever</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-5 offset-xl-1 d-flex align-items-center">
        <div class="flowto-subscribe-two flowto-inner-cta">
          <form action="#">
            <input type="email" placeholder="Enter your email">
            <button class="flowto-outline-btn" id="flowto-subscription-btn" type="submit">
              <span>Subscribe Now</span>
            </button>
           </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->



{% include "../templates/layout/header-footer/footer-one.html" %} 
  
{% endblock %}
