{% extends "layout/layout.html" %}
{% set page_title = "Pricing Plan" %}
 {% block content %}

{% include "../templates/layout/header-footer/header-three.html" %} 

<div class="flowto-breadcrumb">
  <div class="container">
    {% include "../templates/components/breadcrumbs/breadcrumbs.html" %}
  </div>
</div>
<!-- End breadcrumb -->

<div class="section flowto-section-padding3">
  <div class="container">
    <div class="flowto-section-title center w-large-xl">
      <h2 class="m-0">Choose the right pricing plan for you</h2>
    </div>
    <div class="pricing-btn dark">
      <label>Billed monthly</label>
      <div class="toggle-btn">
        <input class="form-check-input btn-toggle price-deck-trigger" type="checkbox" id="flexSwitchCheckDefault" data-pricing-trigger data-target="#table-price-value" checked>
      </div>
      <label>Billed annually</label>
    </div>
    <div class="row" id="table-price-value" data-pricing-dynamic data-value-active="monthly">
      <div class="col-xl-4 col-md-6">
        <div class="flowto-pricing-wrap light-bg">
          <div class="flowto-pricing-header">
            <h6>Basic</h6>
          </div>
          <div class="flowto-pricing-price">
            <h2>$</h2>
            <div class="flowto-price dynamic-value" data-active="19" data-monthly="19" data-yearly="39"></div>
            <p class="dynamic-value" data-active="/Billed monthly" data-monthly="/Billed monthly" data-yearly="/Billed Yearly"></p>
          </div>
          <div class="flowto-pricing-description border-0 m-0 p-0">
            <p>Powerful software to help growing sales & organized & set up simple sales processes</p>
          </div>
          <a class="flowto-pricing-btn pill outline extra-m" href="pricing.html">Choose The Plan</a>

          <div class="flowto-pricing-body m-0">
            <ul>
              <li><img src="assets/images/v2/check.png" alt="">Live chat widget for website</li>
              <li><img src="assets/images/v2/check.png" alt="">All basic CRM features</li>
              <li><img src="assets/images/v2/check.png" alt="">Up to 5,000 contacts</li>
              <li><img src="assets/images/v2/check.png" alt="">Flow base chatbot</li>
              <li><img src="assets/images/v2/check.png" alt="">24/7 Email Support</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="flowto-pricing-wrap active dark-bg">
          <div class="flowto-pricing-header">
            <h6>Standard</h6>
          </div>
          <div class="flowto-pricing-price">
            <h2>$</h2>
            <div class="flowto-price dynamic-value" data-active="49" data-monthly="49" data-yearly="69"></div>
            <p class="dynamic-value" data-active="/Billed monthly" data-monthly="/Billed monthly" data-yearly="/Billed Yearly"></p>
          </div>
          <div class="flowto-pricing-description border-0 m-0 p-0">
            <p>Everything you need to manage multiple sales teams and grow revenue like a pro</p>
          </div>
          <a class="flowto-pricing-btn pill outline active extra-m" href="pricing.html">Choose The Plan</a>

          <div class="flowto-pricing-body m-0">
            <ul>
              <li><img src="assets/images/v2/check2.png" alt="">Multiple sales pipelines</li>
              <li><img src="assets/images/v2/check2.png" alt="">Create, manage & eSign documents</li>
              <li><img src="assets/images/v2/check2.png" alt="">AI-powered deal insights </li>
              <li><img src="assets/images/v2/check2.png" alt="">Up to 3,000 bot sessions/month</li>
              <li><img src="assets/images/v2/check2.png" alt="">Sales teams & territory management</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="flowto-pricing-wrap light-bg">
          <div class="flowto-pricing-header">
            <h6>Enterprise</h6>
          </div>
          <div class="flowto-pricing-price">
            <h2>$</h2>
            <div class="flowto-price dynamic-value" data-active="89" data-monthly="89" data-yearly="99"></div>
            <p class="dynamic-value" data-active="/Billed monthly" data-monthly="/Billed monthly" data-yearly="/Billed Yearly"></p>
          </div>
          <div class="flowto-pricing-description border-0 p-0 m-0">
            <p>Manage all sales channels with advanced customization, governance, and control</p>
          </div>
          <a class="flowto-pricing-btn pill extra-m" href="pricing.html">Choose The Plan</a>

          <div class="flowto-pricing-body m-0">
            <ul>
              <li><img src="assets/images/v2/check.png" alt="">Custom modules</li>
              <li><img src="assets/images/v2/check.png" alt="">User permission & visibility settings</li>
              <li><img src="assets/images/v2/check.png" alt="">AI-powered contact scoring</li>
              <li><img src="assets/images/v2/check.png" alt="">Up to 5,000 bot sessions/month</li>
              <li><img src="assets/images/v2/check.png" alt="">Data import & easy customization</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Section -->

<div class="section flowto-section-padding light-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="flowto-default-content">
          <h2>Most frequently asked questions</h2>
          <p>Many people have questions about how a project management software can make your job easier. We are ready to answer all your questions.</p>
          <div class="flowto-extra-mt">
            <a class="flowto-default-btn" href="faq.html"><span>Ask More Questions</span></a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="flowto-accordion-wrap m-left-50" id="flowto-accordion">
          <div class="flowto-accordion-item border_bottom open">
            <div class="flowto-accordion-header">
              <h4>Can I use this software for free?</h4>
              <div class="flowto-active-icon plus">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 11L21 11M11 21L11 1" stroke="#121212" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>                              
              </div>
            </div>
            <div class="flowto-accordion-body large">
              <p>You must log in to the app from a mobile and click on the administration tab, then fill the mobile banking steps. </p>
            </div>
          </div>
          <div class="flowto-accordion-item border_bottom">
            <div class="flowto-accordion-header">
              <h4>Can I group projects to get a folder view?</h4>
              <div class="flowto-active-icon plus">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 11L21 11M11 21L11 1" stroke="#121212" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>                              
              </div>
            </div>
            <div class="flowto-accordion-body large">
              <p>You must log in to the app from a mobile and click on the administration tab, then fill the mobile banking steps. </p>
            </div>
          </div>
          <div class="flowto-accordion-item border_bottom">
            <div class="flowto-accordion-header">
              <h4>Can I connect any custom field here?</h4>
              <div class="flowto-active-icon plus">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 11L21 11M11 21L11 1" stroke="#121212" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>                              
              </div>
            </div>
            <div class="flowto-accordion-body large">
              <p>You must log in to the app from a mobile and click on the administration tab, then fill the mobile banking steps. </p>
            </div>
          </div>
          <div class="flowto-accordion-item border_bottom">
            <div class="flowto-accordion-header">
              <h4>Are there data security measures?</h4>
              <div class="flowto-active-icon plus">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 11L21 11M11 21L11 1" stroke="#121212" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>                              
              </div>
            </div>
            <div class="flowto-accordion-body large">
              <p>You must log in to the app from a mobile and click on the administration tab, then fill the mobile banking steps. </p>
            </div>
          </div>
          <div class="flowto-accordion-item border_bottom">
            <div class="flowto-accordion-header">
              <h4>Can we share files with everyone?</h4>
              <div class="flowto-active-icon plus">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 11L21 11M11 21L11 1" stroke="#121212" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>                              
              </div>
            </div>
            <div class="flowto-accordion-body large">
              <p>You must log in to the app from a mobile and click on the administration tab, then fill the mobile banking steps. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section blue-bg flowto-section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xl-7 col-lg-7">
        <div class="flowto-default-content light">
          <h2>Get the latest information from us</h2>
          <div class="flowto-extra-mt">
            <div class="flowto-iconlist iconlist-white small-width">
              <ul>
                <li><img src="assets/images/svg/check-green3.svg" alt="">24/7 Support</li>
                <li><img src="assets/images/svg/check-green3.svg" alt="">Cancel Anytime</li>
                <li><img src="assets/images/svg/check-green3.svg" alt="">Free Forever</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-5 offset-xl-1 d-flex align-items-center">
        <div class="flowto-subscribe-two flowto-inner-cta">
          <form action="#">
            <input type="email" placeholder="Enter your email">
            <button class="flowto-outline-btn" id="flowto-subscription-btn" type="submit">
              <span>Subscribe Now</span>
            </button>
           </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

{% include "../templates/layout/header-footer/footer-one.html" %} 
  
{% endblock %}
