
{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/account-header.html" %} 


<div class="section flowto-section-padding">
  <div class="container">
    <div class="flowto-section-title center">
      <h2>Forgot Password</h2>
      <p>Type in your email below and we will send you a special link</p>
    </div>
    <div class="flowto-account-wrap">
      <form action="#">
        <div class="row">
          <div class="col-lg-12">
            <div class="flowto-account-field">
              <input type="email" placeholder="example@gmail.com">
            </div>
          </div>
        </div>
       <div class="col-lg-12">
        <button id="flowto-account-btn" class="m-0 rt-mb-24" type="submit"><span>Send Me A Special Link</span></button>
        <div class="flowto-account-bottom">
          <p>Not a member yet? <a href="sign-up.html">Sign up here</a></p>
        </div>
       </div>
        
      </form>
    </div>
  </div>
</div>

  
{% endblock %}
