{% extends "layout/layout.html" %}
{% set page_title = "Our Services" %}
 {% block content %}

{% include "../templates/layout/header-footer/header-three.html" %} 

<div class="flowto-breadcrumb">
  <div class="container">
    {% include "../templates/components/breadcrumbs/breadcrumbs.html" %}
  </div>
</div>
<!-- End breadcrumb -->

<div class="section flowto-section-padding3">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-md-6">
        <div class="flowto-iconbox-wrap border-all bg-hover">
          <div class="flowto-iconbox-icon icon-box">
            <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11 22.25V27.875M18.5 22.25V27.875M26 22.25V27.875M1.625 35.375H35.375M1.625 14.75H35.375M1.625 9.125L18.5 1.625L35.375 9.125M3.5 14.75H33.5V35.375H3.5V14.75Z" stroke="#3147FF" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <div class="flowto-iconbox-data">
            <h5>Investment Banks</h5>
            <p>Save time & more efficiently that acts as an intermediary in large and complex financial transactions.</p>
            <a class="flowto-iconbox-btn" href="">
              <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.1667 1.4165L20.75 8.99984M20.75 8.99984L13.1667 16.5832M20.75 8.99984L1.25 8.99984" stroke="#121212" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>                               
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="flowto-iconbox-wrap border-all bg-hover">
          <div class="flowto-iconbox-icon icon-box">
            <svg width="37" height="21" viewBox="0 0 37 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M20.2917 1.5415H34.625M34.625 1.5415V15.8748M34.625 1.5415L20.2917 15.8748L13.125 8.70817L2.375 19.4582" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>              
          </div>
          <div class="flowto-iconbox-data">
            <h5>Sales & Trading</h5>
            <p>Sales and trading refer to the division of an investment bank, quickly sell and trade stocks, bond, and derivative.</p>
            <a class="flowto-iconbox-btn" href="">
              <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.1667 1.4165L20.75 8.99984M20.75 8.99984L13.1667 16.5832M20.75 8.99984L1.25 8.99984" stroke="#121212" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>                               
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="flowto-iconbox-wrap border-all bg-hover">
          <div class="flowto-iconbox-icon icon-box">
            <svg width="44" height="49" viewBox="0 0 44 49" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M24.5 19.1963V1.69629L2 29.1963H19.5L19.5 46.6963L42 19.1963L24.5 19.1963Z" stroke="#1AE5BE" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>              
          </div>
          <div class="flowto-iconbox-data">
            <h5>Asset & Hedge funds</h5>
            <p>A hedge fund is a collection of supervised investment that provide high returns through very risky investment.</p>
            <a class="flowto-iconbox-btn" href="">
              <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.1667 1.4165L20.75 8.99984M20.75 8.99984L13.1667 16.5832M20.75 8.99984L1.25 8.99984" stroke="#121212" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>                       
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="flowto-iconbox-wrap border-all bg-hover">
          <div class="flowto-iconbox-icon icon-box">
            <svg width="33" height="37" viewBox="0 0 33 37" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M31.5 9.125L16.5 1.625L1.5 9.125M31.5 9.125L16.5 16.625M31.5 9.125V27.875L16.5 35.375M16.5 16.625L1.5 9.125M16.5 16.625V35.375M1.5 9.125L1.5 27.875L16.5 35.375" stroke="white" stroke-width="3" stroke-linejoin="round"/>
              </svg>              
          </div>
          <div class="flowto-iconbox-data">
            <h5>Mortgage Loans</h5>
            <p>This is a very simple contract between you and a lender that gives the lender the right to take your property.</p>
            <a class="flowto-iconbox-btn" href="">
              <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.1667 1.4165L20.75 8.99984M20.75 8.99984L13.1667 16.5832M20.75 8.99984L1.25 8.99984" stroke="#121212" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>                               
            </a>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6">
        <div class="flowto-iconbox-wrap border-all bg-hover">
          <div class="flowto-iconbox-icon icon-box">
            <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.3587 4.09495C16.1582 0.801681 20.8418 0.801683 21.6413 4.09496C22.1578 6.22237 24.5952 7.23195 26.4647 6.09284C29.3587 4.32948 32.6705 7.64132 30.9072 10.5353C29.768 12.4049 30.7776 14.8422 32.905 15.3587C36.1983 16.1582 36.1983 20.8418 32.905 21.6413C30.7776 22.1578 29.768 24.5951 30.9072 26.4647C32.6705 29.3587 29.3587 32.6705 26.4647 30.9072C24.5952 29.768 22.1578 30.7776 21.6413 32.905C20.8418 36.1983 16.1582 36.1983 15.3587 32.905C14.8422 30.7776 12.4049 29.768 10.5353 30.9072C7.64132 32.6705 4.32948 29.3587 6.09284 26.4647C7.23195 24.5951 6.22237 22.1578 4.09496 21.6413C0.801683 20.8418 0.801681 16.1582 4.09495 15.3587C6.22237 14.8422 7.23195 12.4049 6.09284 10.5353C4.32948 7.64132 7.64132 4.32948 10.5353 6.09284C12.4049 7.23195 14.8422 6.22237 15.3587 4.09495Z" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M24.125 18.5C24.125 21.6066 21.6066 24.125 18.5 24.125C15.3934 24.125 12.875 21.6066 12.875 18.5C12.875 15.3934 15.3934 12.875 18.5 12.875C21.6066 12.875 24.125 15.3934 24.125 18.5Z" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              
          </div>
          <div class="flowto-iconbox-data">
            <h5>Product Development</h5>
            <p>This is a very simple contract between you and a lender that gives the lender the right to take your property.</p>
            <a class="flowto-iconbox-btn" href="">
              <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.1667 1.4165L20.75 8.99984M20.75 8.99984L13.1667 16.5832M20.75 8.99984L1.25 8.99984" stroke="#121212" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>                               
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="flowto-iconbox-wrap border-all bg-hover">
          <div class="flowto-iconbox-icon icon-box">
            <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.875 31.625V20.375C12.875 18.3039 11.1961 16.625 9.125 16.625H5.375C3.30393 16.625 1.625 18.3039 1.625 20.375V31.625C1.625 33.6961 3.30393 35.375 5.375 35.375H9.125C11.1961 35.375 12.875 33.6961 12.875 31.625ZM12.875 31.625V12.875C12.875 10.8039 14.5539 9.125 16.625 9.125H20.375C22.4461 9.125 24.125 10.8039 24.125 12.875V31.625M12.875 31.625C12.875 33.6961 14.5539 35.375 16.625 35.375H20.375C22.4461 35.375 24.125 33.6961 24.125 31.625M24.125 31.625V5.375C24.125 3.30393 25.8039 1.625 27.875 1.625H31.625C33.6961 1.625 35.375 3.30393 35.375 5.375V31.625C35.375 33.6961 33.6961 35.375 31.625 35.375H27.875C25.8039 35.375 24.125 33.6961 24.125 31.625Z" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
                            
          </div>
          <div class="flowto-iconbox-data">
            <h5>Digital Marketing</h5>
            <p>Improve your presence, and create trust in the eyes of your customers with digitally for the best marketing.</p>
            <a class="flowto-iconbox-btn" href="">
              <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.1667 1.4165L20.75 8.99984M20.75 8.99984L13.1667 16.5832M20.75 8.99984L1.25 8.99984" stroke="#121212" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>                               
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="flowto-iconbox-wrap border-all bg-hover">
          <div class="flowto-iconbox-icon icon-box">
            <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11 26L16.3975 20.6025M16.3975 20.6025C17.4154 21.6204 18.8217 22.25 20.375 22.25C23.4816 22.25 26 19.7316 26 16.625C26 13.5184 23.4816 11 20.375 11C17.2684 11 14.75 13.5184 14.75 16.625C14.75 18.1783 15.3796 19.5846 16.3975 20.6025ZM35.375 18.5C35.375 27.8198 27.8198 35.375 18.5 35.375C9.18019 35.375 1.625 27.8198 1.625 18.5C1.625 9.18019 9.18019 1.625 18.5 1.625C27.8198 1.625 35.375 9.18019 35.375 18.5Z" stroke="white" stroke-width="3" stroke-linecap="round"/>
              </svg>
                            
          </div>
          <div class="flowto-iconbox-data">
            <h5>SEO Services</h5>
            <p>Search engine optimization services aim to fill your sales channel with relevant. For the digital world SEO needs.</p>
            <a class="flowto-iconbox-btn" href="">
              <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.1667 1.4165L20.75 8.99984M20.75 8.99984L13.1667 16.5832M20.75 8.99984L1.25 8.99984" stroke="#121212" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>                       
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="flowto-iconbox-wrap border-all bg-hover">
          <div class="flowto-iconbox-icon icon-box">
            <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.2812 27.875L12.875 33.5L11 35.375H26L24.125 33.5L22.7188 27.875M1.625 20.375H35.375M5.375 27.875H31.625C33.6961 27.875 35.375 26.1961 35.375 24.125V5.375C35.375 3.30393 33.6961 1.625 31.625 1.625L5.375 1.625C3.30393 1.625 1.625 3.30393 1.625 5.375L1.625 24.125C1.625 26.1961 3.30393 27.875 5.375 27.875Z" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
                            
          </div>
          <div class="flowto-iconbox-data">
            <h5>Web Analysis</h5>
            <p>Any business that has a great website or online presence for the must needs good web and hosting analytics. </p>
            <a class="flowto-iconbox-btn" href="">
              <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.1667 1.4165L20.75 8.99984M20.75 8.99984L13.1667 16.5832M20.75 8.99984L1.25 8.99984" stroke="#121212" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>                               
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section flowto-section-padding3 dark-bg">
  <div class="container">
    <div class="flowto-section-title center light">
      <h2 class="m-0">Get started for free & add a plan later</h2>
    </div>
    <div class="pricing-btn">
      <label>Billed monthly</label>
      <div class="toggle-btn">
        <input class="form-check-input btn-toggle price-deck-trigger" type="checkbox" id="flexSwitchCheckDefault" data-pricing-trigger data-target="#table-price-value" checked>
      </div>
      <label>Billed annually</label>
    </div>
    <div class="row" id="table-price-value" data-pricing-dynamic data-value-active="monthly">
      <div class="col-xl-4 col-md-6">
        <div class="flowto-pricing-wrap">
          <div class="flowto-pricing-header">
            <h6>Basic</h6>
          </div>
          <div class="flowto-pricing-price">
            <h2>$</h2>
            <div class="flowto-price dynamic-value" data-active="19" data-monthly="19" data-yearly="39"></div>
            <p class="dynamic-value" data-active="/Billed monthly" data-monthly="/Billed monthly" data-yearly="/Billed Yearly"></p>
          </div>
          <div class="flowto-pricing-description">
            <p>Powerful software to help growing sales & organized & set up simple sales processes</p>
          </div>
          <div class="flowto-pricing-body">
            <ul>
              <li><img src="assets/images/v2/check.png" alt="">Live chat widget for website</li>
              <li><img src="assets/images/v2/check.png" alt="">All basic CRM features</li>
              <li><img src="assets/images/v2/check.png" alt="">Up to 5,000 contacts</li>
              <li><img src="assets/images/v2/check.png" alt="">Flow base chatbot</li>
              <li><img src="assets/images/v2/check.png" alt="">24/7 Email Support</li>
            </ul>
          </div>
          <a class="flowto-pricing-btn" href="pricing.html">Choose The Plan</a>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="flowto-pricing-wrap active">
          <div class="flowto-pricing-header">
            <h6>Standard</h6>
          </div>
          <div class="flowto-pricing-price">
            <h2>$</h2>
            <div class="flowto-price dynamic-value" data-active="49" data-monthly="49" data-yearly="69"></div>
            <p class="dynamic-value" data-active="/Billed monthly" data-monthly="/Billed monthly" data-yearly="/Billed Yearly"></p>
          </div>
          <div class="flowto-pricing-description">
            <p>Everything you need to manage multiple sales teams and grow revenue like a pro</p>
          </div>
          <div class="flowto-pricing-body">
            <ul>
              <li><img src="assets/images/v2/check2.png" alt="">Multiple sales pipelines</li>
              <li><img src="assets/images/v2/check2.png" alt="">Create, manage & eSign documents</li>
              <li><img src="assets/images/v2/check2.png" alt="">AI-powered deal insights </li>
              <li><img src="assets/images/v2/check2.png" alt="">Up to 3,000 bot sessions/month</li>
              <li><img src="assets/images/v2/check2.png" alt="">Sales teams & territory management</li>
            </ul>
          </div>
          <a class="flowto-pricing-btn active" href="pricing.html">Choose The Plan</a>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="flowto-pricing-wrap">
          <div class="flowto-pricing-header">
            <h6>Enterprise</h6>
          </div>
          <div class="flowto-pricing-price">
            <h2>$</h2>
            <div class="flowto-price dynamic-value" data-active="89" data-monthly="89" data-yearly="99"></div>
            <p class="dynamic-value" data-active="/Billed monthly" data-monthly="/Billed monthly" data-yearly="/Billed Yearly"></p>
          </div>
          <div class="flowto-pricing-description">
            <p>Manage all sales channels with advanced customization, governance, and control</p>
          </div>
          <div class="flowto-pricing-body">
            <ul>
              <li><img src="assets/images/v2/check.png" alt="">Custom modules</li>
              <li><img src="assets/images/v2/check.png" alt="">User permission & visibility settings</li>
              <li><img src="assets/images/v2/check.png" alt="">AI-powered contact scoring</li>
              <li><img src="assets/images/v2/check.png" alt="">Up to 5,000 bot sessions/month</li>
              <li><img src="assets/images/v2/check.png" alt="">Data import & easy customization</li>
            </ul>
          </div>
          <a class="flowto-pricing-btn" href="pricing.html">Choose The Plan</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Section -->

<div class="section flowto-section-padding3">
  <div class="container">
    <div class="flowto-section-title">
      <div class="row">
        <div class="col-lg-7">
          <h2>Hear what our customers say</h2>
        </div>
        <div class="col-lg-5 d-flex align-items-center">
          <p>We provide excellent customer service. We have loyal customers all over the world. We take pride in working with outcome-focused client businesses.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6">
        <div class="flowto-testimonial-wrap testimonial-grid">
          <div class="flowto-testimonial-thumb">
            <img src="assets/images/v5/thumb-v5-4.png" alt="">
          </div>
          <div class="flowto-testimonial-content">
            <div class="flowto-testimonial-rating">
              <ul>
                <li><img src="assets/images/svg/rating.svg" alt=""></li>
                <li><img src="assets/images/svg/rating.svg" alt=""></li>
                <li><img src="assets/images/svg/rating.svg" alt=""></li>
                <li><img src="assets/images/svg/rating.svg" alt=""></li>
                <li><img src="assets/images/svg/rating.svg" alt=""></li>
              </ul>
            </div>
            <div class="flowto-testimonial-data">
              <p>Amazing agency! The whole SEO team is knowledgeable, friendly and incredibly helpful. I am very much satisfied with their work.</p>
              <h6>Alex Bury from Canada</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="flowto-testimonial-wrap testimonial-grid">
          <div class="flowto-testimonial-thumb">
            <img src="assets/images/v5/thumb-v5-5.png" alt="">
          </div>
          <div class="flowto-testimonial-content">
            <div class="flowto-testimonial-rating">
              <ul>
                <li><img src="assets/images/svg/rating.svg" alt=""></li>
                <li><img src="assets/images/svg/rating.svg" alt=""></li>
                <li><img src="assets/images/svg/rating.svg" alt=""></li>
                <li><img src="assets/images/svg/rating.svg" alt=""></li>
                <li><img src="assets/images/svg/rating.svg" alt=""></li>
              </ul>
            </div>
            <div class="flowto-testimonial-data">
              <p>I've experienced great support from the SEO team. I'm a few months in and starting to see positive results. I would definitely recommend it!</p>
              <h6 class="m-0">Max Smith from USA</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section blue-bg flowto-section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xl-7 col-lg-7">
        <div class="flowto-default-content light">
          <h2>Get the latest information from us</h2>
          <div class="flowto-extra-mt">
            <div class="flowto-iconlist iconlist-white small-width">
              <ul>
                <li><img src="assets/images/svg/check-green3.svg" alt="">24/7 Support</li>
                <li><img src="assets/images/svg/check-green3.svg" alt="">Cancel Anytime</li>
                <li><img src="assets/images/svg/check-green3.svg" alt="">Free Forever</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-5 offset-xl-1 d-flex align-items-center">
        <div class="flowto-subscribe-two flowto-inner-cta">
          <form action="#">
            <input type="email" placeholder="Enter your email">
            <button class="flowto-outline-btn" id="flowto-subscription-btn" type="submit">
              <span>Subscribe Now</span>
            </button>
           </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->


{% include "../templates/layout/header-footer/footer-one.html" %} 
  
{% endblock %}
