
{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/account-header.html" %} 


<div class="section flowto-section-padding">
  <div class="container">
    <div class="flowto-section-title center">
      <h2>Sign Up</h2>
      <p>Enter the information below to create your account</p>
    </div>
    <div class="flowto-account-wrap">
      <form action="#">
        <div class="row">
          <div class="col-lg-6">
            <div class="flowto-account-field">
              <input type="text" placeholder="Name">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="flowto-account-field">
              <input type="text" placeholder="Surname">
            </div>
          </div>
          <div class="col-lg-12">
            <div class="flowto-account-field">
              <input type="email" placeholder="example@gmail.com">
            </div>
          </div>
          <div class="col-lg-12">
            <div class="flowto-account-field">
              <input type="password" placeholder="Password">
            </div>
          </div>
          <div class="col-lg-12">
            <div class="flowto-account-field">
              <input type="password" placeholder="Repeat password">
            </div>
          </div>
        </div>
       <div class="col-lg-12">
        <div class="flowto-account-checkbox">
          <input type="checkbox" id="check">
          <label for="check">I have read and accept the </label>
        </div>
        <button id="flowto-account-btn" type="submit"><span>Create account</span></button>
  
        <div class="flowto-account-bottom">
          <p>Already have an account? <a href="sign-in.html">Log in here</a></p>
        </div>
       </div>
        
      </form>
    </div>
  </div>
</div>

  
{% endblock %}
