

.flowto-account-checkbox-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
a.forgot-password{
  font-size: 16px;
  color: var(--heading-color);
}
.flowto-account{
  &-wrap{
    padding: 40px;
    max-width: 856px;
    border-radius: 10px;
    margin: 0 auto;
    background-color: var(--white-bg);
    box-shadow: 0 4px 80px rgba(0,0,0,.08);
    @include max(991px) {
      padding: 30px;
    }
  }
  &-field{
    margin-bottom: 24px;
    label{
      font-weight: 700;
      display: block;
      font-size: 16px;
      margin-bottom: 10px;
    }
    input{
      font-weight: 400;
      &:focus, 
      &:focus{
         border: 1px solid var(--primary-color)!important;
      }
    }
  }
  &-checkbox{
    input{
      padding: 0;
      height: initial;
      width: initial;
      margin-bottom: 0;
      display: none;
      cursor: pointer;
    }
    label{
      position: relative;
      font-size: 16px;
      display: flex;
      align-items: center;
      a{
        color: var(--body-color);
        font-weight: 600;
        margin: 0 4px;
      }
      &:before{
        content:'';
        -webkit-appearance: none;
        background-color: transparent;
        border: 1.5px solid #7F8995;
        padding: 7px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        cursor: pointer;
        margin-right: 10px;
        border-radius: 3px;
      }
    }
  }
}

.flowto-account-checkbox input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 9px;
  left: 6px;
  width: 5px;
  height: 9px;
  border: solid var(--dark-bg);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

button#flowto-account-btn {
  width: 100%;
  border-radius: 50px;
  margin: 40px 0 24px;

}





.flowto-account-bottom{
  text-align: center;
  p{
    font-size: 16px;
  }
  a{
    font-weight: 600;
    color: var(--body-color);
  }
}

// 404
.flowto-errors-content {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  h2{
    margin: 50px 0;
    @include max(991px) {
      margin: 30px 0;
    }
  }
}


// rtl support
[dir="rtl"]{
	.flowto-errors-wrap{
    text-align: right;
  }
  .flowto-countdown-wrap, 
  .flowto-coming-newsletter, 
  .flowto-account-wrap{
    margin-right: 0;
  }
  button#flowto-notified-btn{
    right: auto;
    left: 5px;
  }
  a.flowto-connect-login {
    img{
      margin-right: 0;
      margin-left: 15px;
    }
  }
  .flowto-account-checkbox label:before{
    margin-right: 0;
    margin-left: 10px;
  }
}
