.flowto-breadcrumb{
  text-align: center;
  padding: 195px 0 130px;
  background-color: var(--light-bg);
  @include max(991px) {
    padding: 170px 0 100px;
  }
  @include max(767px) {
    padding: 170px 0 80px;
  }
  @include max(575px) {
    padding: 130px 0 80px;
  }
}

h1.post__title{
  margin-bottom: 50px;
  @include max(1400px) {
    margin-bottom: 30px;
  }
}


.breadcrumbs{
  ul{
    li{
      line-height: 1;
      z-index: 0;
      font-size: 21px;
      padding: 0 18px;
      position: relative;
      display: inline-block;
      color: var(--heading-color);
      @include max(767px) {
        font-size: 18px;
      }
      &:first-child{
        padding-left: 0;
      }
      &:last-child{
        padding-right: 0;
      }
      &:before {
        content: "";
        right: -9px;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        position: absolute;
        background-size: 9px;
        background-position: center right;
        background-repeat: no-repeat;
        background-image: url(../images/about/arrow.png);
      }
      &:last-child:before{
        content: none;
      }
      a{
        font-weight: 400;
        color: var(--primary-color);
      }
    }
  }
}
.breadcrumb-light{
  .breadcrumbs{
    ul{
      li{
        &::before{
          background-image: url(../images/blog/backspece2.svg);
        }
        a{
          color: var(--heading-color);
        }
      }
    }
  }
}

// rtl support
[dir="rtl"]{
  .flowto-breadcrumb{
    text-align: right;
  }

  .breadcrumbs{
    ul{
      li{
        padding: 0 10px;
  
        &:first-child{
          padding-right: 0;
        }
        &:last-child{
          padding-left: 0;
        }
        &:before {
          content: "";
        }
        &:first-child:before{
          content: none;
        }
      }
    }
  }
}