.brand-slider1{
  margin-top: 80px;
  @include max(1199px) {
    margin-top: 50px;
  }
  @include max(767px) {
    margin-top: 30px;
  }
}
.flowto-brand-item {
  padding: 0 20px;
}



// rtl support
[dir="rtl"]{
  .flowto-brand-slider, 
  .flowto-brand-slider3{
    direction: ltr;
  }
  .flowto-brand-logo-wrap p{
    text-align: right;
  }
}
