.bg-cover{
  background-size: cover;
  background-position: center center;
}
.flowto-cta{
  &-thumb{
    @include max(991px) {
      text-align: center;
      margin-top: 40px;
    }
  }
}

.flowto-two-wrap {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  position: relative;
  @include max(991px) {
    justify-content:center;
  }
  &.center{
    justify-content:center;
  }
  &.footer-app{
    display: block;
    .flowto-app{
      margin-bottom: 12px;
      display: block;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}
.flowto-app{
  transition: all 0.4s;
  &:hover{
    transform: translateY(-3px);
  }
}
.flowto-cta-shape{
  right: -40px;
  top: 0;
  position: absolute;
  animation: float-left-right 6s ease-in-out infinite;
  @include max(1349px) {
    width: 150px;
  }
  @include max(991px) {
    display: none;
  }
}


.flowto-cta {
  &-wrap{
    padding: 80px;
    border-radius: 10px;
    position: relative;
    background-color: var(--blue-bg);
    @include max(1199px) {
      padding: 70px;
    }
    @include max(991px) {
      padding: 60px;
    }
    @include max(767px) {
      padding: 50px;
    }
    &.wrap2{
      overflow: hidden;
      padding: 100px 80px;
      @include max(991px) {
        padding: 60px;
      }
      @include max(767px) {
        padding: 50px;
      }
    }
  }
  &-content{
    max-width: 730px;
    margin: 0 auto;
    text-align: center;
    h2{
      margin-bottom: 50px;
      color: var(--white-color);
      @include max(991px) {
        margin-bottom: 30px;
      }
    }
  }
  
}

.flowto-inner-cta{
  width: 100%;
  @include max(991px) {
    margin-top: 40px;
  }
}

// rtl support 
[dir="rtl"]{

  .flowto-app-wrap{
    @include max(991px) {
      justify-content: inherit;
    }
  }
  .flowto-cta-shape{
    right: auto;
    left: 0;
  }
  .flowto-cta-content{
    text-align: right;
    
  }
  .flowto-subscribe-two{
    margin-right: 0;
  }
}