

.flowto-accordion{
  &-item{
    position: relative;
    margin-bottom: 24px;
    transition: all 0.4s;
    &.p-left{
      padding-left: 40px;
    }
    &:last-child{
      margin-bottom: 0;
    }
    &.open .flowto-active-icon{
      transform: rotate(180deg);
    }
    &.open{
      .flowto-accordion-body{
        display: block;
        p{
          font-size: 18px;
          line-height: 28px;
        }
      }
    }
    .flowto-faq-check{
      position: absolute;
      left: 0;
      top: -3px;
    }
  }
  &-header{
    cursor: pointer;
    position: relative;
    padding-right: 30px;
  }
  &-body{
    display: none;
    padding-top: 15px;
    &.default{
      display: block;
    }
  
    &.extra-max-width{
      max-width: 400px;
    }
  }
}



.flowto-accordion{
  &-wrap2{
    margin: 0;
    .flowto-accordion-item{
      background-color: transparent;
      &.open .flowto-active-icon{
        transform: rotate(0);
        opacity: 0;
      }
      &.open .flowto-inactive-icon{
        opacity: 1;
      }
    }
    .flowto-accordion-header{
      padding-right: 20px;
      p{
        font-weight: 600;
        margin: 0;
      }
    }
    .flowto-accordion-body{
      padding-right: 70px;
      @include max(991px) {
        padding-right: 0;
      }
      p{
        font-size: 18px;
        color: var(--body-color)!important;
      }
    }
    .flowto-accordion-item.open{
      background-color: transparent;
    }
    .flowto-active-icon, 
    .flowto-inactive-icon{
      top: 0;
    }
    .flowto-inactive-icon{
      opacity: 0;
    }
  }
}

.flowto-active-icon, 
.flowto-inactive-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  transition: all 0.4s;
  svg{
    path{
      transition: all 0.4s;
    }
  }
}

// rtl support

[dir="rtl"]{
  .flowto-accordion-wrap{
    margin-right: 0;
    margin-left: 65px;
    @include max(1199px) {
      margin-left: 20px;
    }
    @include max(991px) {
      margin-left: 0;
    }
  }
  .flowto-active-icon, 
  .flowto-inactive-icon{
    right: auto;
    left: 0;
  }
}