

.flowto-accordion{
  &-wrap{
    &.wrap2{
      gap: 80px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      @include max(1199px) {
        gap: 24px;
        grid-template-columns:  1fr;
      }
    }
  }
  &-item{
    position: relative;
    margin-bottom: 24px;
    transition: all 0.4s;
    &.p-left{
      padding-left: 40px;
    }
    &:last-child{
      margin-bottom: 0;
    }
    &.open .flowto-active-icon{
      transform: rotate(180deg);
      &.plus{
        transform: rotate(130deg);
        path{
          stroke: var(--primary-color);
        }
      }
    }
    &.open{
      .flowto-accordion-body{
        display: block;
      }
    }
    .flowto-faq-check{
      position: absolute;
      left: 0;
      top: -3px;
    }
    &.border_bottom{
      padding: 22px 0;
      margin: 0;
      border-bottom: 1px solid var(--gray-color);
      &:last-child{
        border-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
  &-header{
    cursor: pointer;
    position: relative;
    padding-right: 30px;
  }
  &-body{
    display: none;
    padding-top: 15px;
    &.large{
      p{
        font-size: 21px;
        line-height: 34px;
        @include max(991px) {
          font-size: 20px;
          line-height: 28px;
        }
      }
    }
    &.body-max-width{
      max-width: 1000px;
    }
    
    &.default{
      display: block;
    }
    
  
    &.extra-max-width{
      max-width: 400px;
    }
  }
  
}

.accordion-three{
  .flowto-accordion-item{
    margin: 0;
    padding: 45px 0;
    border-bottom: 1px solid var(--gray-color);
    @include max(991px) {
      padding: 30px 0;
    }
    &:first-child{
      padding-top: 0;
    }
    &:last-child{
      border-bottom: none;
      padding-bottom: 0;
    }
  }
  .flowto-active-icon, 
  .flowto-inactive-icon{
    top: 10px;
  }
}

.flowto-active-icon, 
.flowto-inactive-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  transition: all 0.4s;
  svg{
    path{
      transition: all 0.4s;
    }
  }
}

.m-left-50{
  margin-left: 50px;
  @include max(991px) {
    margin-left: 0;
  }
}

// faq normar start
.flowto-faq-normal{
  &-column{
    gap: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include max(1399px) {
      gap: 24px;
    }
    @include max(991px) {
      display: block;
    }
  }
  &-wrap{
    display: flex;
    flex-direction: column;
    gap: 45px;
    @include max(991px) {
      gap: 24px;
    }
    
  }
  &-item{
    gap: 12px;
    display: flex;
  }
  &-icon{
    position: relative;
    top: 3px;
    flex-shrink: 0;
  }
  &-data{
    h4{
      margin-bottom: 15px;
    }
    p{
      font-size: 21px;
      line-height: 34px;
      @include max(991px) {
        font-size: 20px;
        line-height: 28px;
      }
    }
  }
}

// rtl support

[dir="rtl"]{
  .flowto-accordion-wrap{
    margin-right: 0;
    margin-left: 65px;
    @include max(1199px) {
      margin-left: 20px;
    }
    @include max(991px) {
      margin-left: 0;
    }
  }
  .flowto-active-icon, 
  .flowto-inactive-icon{
    right: auto;
    left: 0;
  }
}