input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="time"],
input[type="date"],
input[type="search"],
input, textarea {
  margin: 0;
  height: 60px;
  width: 100%;
  color:#7F8995;
  font-weight: 700;
  font-size: 16px;
  border-radius: 50px;
  background-color: transparent;
  padding: 15px 24px !important;
  border: none!important;
  transition: all 0.4s;
  letter-spacing: 0.5px;
  border: 1px solid var(--gray-color)!important;
}
input:focus, 
textarea:focus{
  border: 1px solid var(--primary-color)!important;
}
textarea {
  height: 150px;
  resize: none;
  border-radius: 20px;
  @include max(767px) {
    height: 100px;
  }
}

input::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder{ /* WebKit, Blink, Edge */
    color:    #7F8995;
    opacity: 1;
}
input:-moz-placeholder, 
textarea:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
   color:    #7F8995;
   opacity:  1;
}
input::-moz-placeholder, 
textarea::-moz-placeholder{ /* Mozilla Firefox 19+ */
   color:    #7F8995;
   opacity:  1;
}
input:-ms-input-placeholder, 
textarea:-ms-input-placeholder{ /* Internet Explorer 10-11 */
   color:    #7F8995;
   opacity: 1;
}
input::-ms-input-placeholder, 
textarea::-ms-input-placeholder{ /* Microsoft Edge */
   color:    #7F8995;
   opacity: 1;
}

input::placeholder, 
textarea::placeholder{ /* Most modern browsers support this now. */
   color:    #7F8995;
   opacity: 1;
}

.flowto-subscribe{
   &-one{
      max-width: 550px;
      margin: 0 auto;
      position: relative;
      input{
      border-radius: 3px;
      color: var(--white-color);
      border: 1px solid var(--white-color)!important;
 
      &::-webkit-input-placeholder, 
      &::-webkit-input-placeholder{ /* WebKit, Blink, Edge */
         color:    var(--white-color);
         opacity: 1;
      }
      &:-moz-placeholder, 
      &:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
         color:    var(--white-color);
         opacity:  1;
      }
      &::-moz-placeholder, 
      &::-moz-placeholder{ /* Mozilla Firefox 19+ */
         color:    var(--white-color);
         opacity:  1;
      }
      &:-ms-input-placeholder, 
      &:-ms-input-placeholder{ /* Internet Explorer 10-11 */
         color:    var(--white-color);
         opacity: 1;
      }
      &::-ms-input-placeholder, 
      &::-ms-input-placeholder{ /* Microsoft Edge */
         color:    var(--white-color);
         opacity: 1;
      }

      &::placeholder, 
      &::placeholder{ /* Most modern browsers support this now. */
         color:    var(--white-color);
         opacity: 1;
      }
   }
   }
   &-two{
      position: relative;
      input{
      border-radius: 50px;
      color: #7F8995;
      border: none;
      background-color: var(--white-bg);
      &:focus, 
      &:focus{
         border: 1px solid var(--primary-color)!important;
      }
      &::-webkit-input-placeholder, 
      &::-webkit-input-placeholder{ /* WebKit, Blink, Edge */
         color:    #7F8995;
         opacity: 1;
      }
      &:-moz-placeholder, 
      &:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
         color:    #7F8995;
         opacity:  1;
      }
      &::-moz-placeholder, 
      &::-moz-placeholder{ /* Mozilla Firefox 19+ */
         color:    #7F8995;
         opacity:  1;
      }
      &:-ms-input-placeholder, 
      &:-ms-input-placeholder{ /* Internet Explorer 10-11 */
         color:    #7F8995;
         opacity: 1;
      }
      &::-ms-input-placeholder, 
      &::-ms-input-placeholder{ /* Microsoft Edge */
         color:    #7F8995;
         opacity: 1;
      }

      &::placeholder, 
      &::placeholder{ /* Most modern browsers support this now. */
         color:    #7F8995;
         opacity: 1;
      }
   }
   }
   &-three{
      max-width: 500px;
      margin: 0 auto;
      border-radius: 50px;
      position: relative;
      input{
      height: 60px;
      border-radius: 50px;
      color: var(--white-color);
      border: 1px solid var(--white-color)!important;
      &:focus, 
      &:focus{
         border: 1px solid var(--primary-color)!important;
      }
      &::-webkit-input-placeholder, 
      &::-webkit-input-placeholder{ /* WebKit, Blink, Edge */
         color:    var(--gray-color);
         opacity: 1;
      }
      &:-moz-placeholder, 
      &:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
         color:    var(--gray-color);
         opacity:  1;
      }
      &::-moz-placeholder, 
      &::-moz-placeholder{ /* Mozilla Firefox 19+ */
         color:    var(--gray-color);
         opacity:  1;
      }
      &:-ms-input-placeholder, 
      &:-ms-input-placeholder{ /* Internet Explorer 10-11 */
         color:    var(--gray-color);
         opacity: 1;
      }
      &::-ms-input-placeholder, 
      &::-ms-input-placeholder{ /* Microsoft Edge */
         color:    var(--gray-color);
         opacity: 1;
      }

      &::placeholder, 
      &::placeholder{ /* Most modern browsers support this now. */
         color:    var(--gray-color);
         opacity: 1;
      }
   }
   }
}
.flowto-input-email {
   position: absolute;
   top: 14px;
   left: 24px;
}
.flowto-subscription-btn{
   top: 5px;
   right: 5px;
   font-size: 16px;
   position: absolute;
   &.one{
      padding: 13px 31px;
      color: var(--primary-color);
      background-color: var(--white-bg);
      &:hover{
         color: var(--white-color);
      }
      @include max(479px) {
         position: static;
         width: 100%;
         margin-top: 20px;
      }
   }
   &.two{
      border-radius: 50px;
      font-size: 16px;
      padding: 18px;
      position: static;
      width: 100%;
      margin-top: 12px;
   } 
   &.three{
      padding: 13px 31px;
 
      @include max(479px) {
         position: static;
         width: 100%;
         margin-top: 20px;
      }
   }
}

// home one footer subscribe 1