.flowto-iconbox{
  &-column{
    display: grid;
    gap: 80px;
    grid-template-columns: 1fr 1fr 1fr;
    @include max(1399px) {
      gap: 24px;
    }
    @include max(991px) {
      grid-template-columns: 1fr 1fr;
    }
    @include max(767px) {
      display: block;
    }
    &.column4{
      grid-template-columns: 1fr 1fr 1fr 1fr;
      @include max(1199px) {
        grid-template-columns: 1fr 1fr;
      }
      @include max(767px) {
        display: block;
      }
    }
  }
  &-wrap{
    &.center{
      text-align: center;
      .flowto-iconbox-icon{
        margin: 0 auto 30px;
      }
    }
    border-radius: 10px;
    transition: all 0.4s;
    margin-bottom: 24px;
    &.wrap2{
      padding: 35px;
      border: 1px solid var(--white-color);
      @include max(991px) {
        padding: 30px;
      }
      &:hover{
        border: 1px solid var(--white-color);
        box-shadow: 0px 4px 80px 0px rgba(0, 0, 0, 0.08);
      }
    }
    &.border-all{
      padding: 30px 25px;
      border: 1px solid var(--light-color);
      &:hover{
        border: 1px solid var(--white-color);
        box-shadow: 0px 4px 80px 0px rgba(0, 0, 0, 0.08);
      }
    }
    &.bg-hover{
      border: 1px solid var(--body-color);
      &:hover{
        background-color: var(--blue-bg);
        box-shadow: none;
        border: 1px solid var(--primary-color);
      }
      &:hover .flowto-iconbox-data{
        h5, p{
          color: var(--white-color);
        }
      }
      &:hover .flowto-iconbox-btn{
        svg{
          path{
            stroke: var(--white-color);
          }
        }
      }
    }
    &:hover .flowto-iconbox-icon{
      svg{
        path{
          stroke: var(--secondary-color);
        }
      }
    }
    &:hover .flowto-iconbox-icon.icon-box{
      background-color: var(--white-bg);
      svg{
        path{
          stroke: var(--primary-color);
        }
      }
    }

    &:hover .flowto-iconbox-btn{
      color: var(--primary-color);
      svg{
        path{
          stroke: var(--primary-color);
        }
      }
  }
    
  }
  &-icon{
    margin-bottom: 30px;
    svg{
      path{
        stroke: var(--heading-color);
        transition: all 0.4s;
      }
    }
    &.icon-box{
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
      transition: all 0.4s;
      background-color: var(--dark-bg);
      svg{
        path{
          stroke: var(--white-color);
          transition: all 0.4s;
        }
      }
    }
  }
  &-data{
    h5{
      transition: all 0.4s;
      margin-bottom: 15px;
    }
    p{
      transition: all 0.4s;
    }
    &.light{
      h3, h5, span, p{
        color: var(--white-color);
      }
    }
  }

  &-btn{
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    transition: all 0.4s;
    color: var(--body-color);
    svg{
      margin-left: 10px;
      path{
        transition: all 0.4s;
      }
    }
  }
  // end iconbox left one
 
  
}


// rtl support

[dir="rtl"]{
  .flowto-iconbox-wrap-left .flowto-iconbox-icon{
    margin-right: 0;
    margin-left: 24px;
  }
  .flowto-iconbox-wrap.center, 
  .flowto-iconbox-wrap-left{
    text-align: right;
  }
  .flowto-iconbox-wrap.center .flowto-iconbox-icon{
    margin-right: 0;
    text-align: right;
  }
  .flowto-iconbox-btn:hover img {
    transform: translateX(-90px);
  }
  .flowto-iconbox-number{
    margin-right: 0;
    margin-left: 24px;
  }  
}