.flowto-iconlist{
  text-align: left;
  ul{
    li{
      font-weight: 600;
      font-size: 21px;
      position: relative;
      padding-left: 35px;
      text-align: left;
      display: inline-block;
      margin-bottom: 20px;
      color: var(--heading-color);
      img{
        position: absolute;
        left: 0;
        top: 1px;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

.flowto-divider{
  height: 1px;
  border-top: 1px solid var(--gray-color);
  &.defarent-color{
    border-top: 1px solid var(--light-color);
  }
  &.divider-margin{
    margin: 45px 0;
    @include max(991px) {
      margin: 30px 0;
    }
  }
}