.flowto-iconbox{
  &-column{
    display: grid;
    gap: 80px;
    grid-template-columns: 1fr 1fr 1fr;
    @include max(1399px) {
      gap: 24px;
    }
    @include max(991px) {
      grid-template-columns: 1fr 1fr;
    }
    @include max(767px) {
      display: block;
    }
    &.column4{
      grid-template-columns: 1fr 1fr 1fr 1fr;
      @include max(1199px) {
        grid-template-columns: 1fr 1fr;
      }
      @include max(767px) {
        display: block;
      }
    }
  }
  &-wrap{
    &.center{
      text-align: center;
      .flowto-iconbox-icon{
        margin: 0 auto 30px;
      }
    }
    border-radius: 10px;
    transition: all 0.4s;
    margin-bottom: 24px;
    &.wrap2{
      padding: 35px;
      border: 1px solid var(--white-color);
      @include max(991px) {
        padding: 30px;
      }
      &:hover{
        border: 1px solid var(--white-color);
        box-shadow: 0px 4px 80px 0px rgba(0, 0, 0, 0.08);
      }
    }
    &.border-all{
      padding: 30px 25px;
      border: 1px solid var(--light-color);
      &:hover{
        border: 1px solid var(--white-color);
        box-shadow: 0px 4px 80px 0px rgba(0, 0, 0, 0.08);
      }
    }
    &.bg-hover{
      border: 1px solid var(--body-color);
      &:hover{
        background-color: var(--blue-bg);
        box-shadow: none;
        border: 1px solid var(--primary-color);
      }
      &:hover .flowto-iconbox-data{
        h5, p{
          color: var(--white-color);
        }
      }
      &:hover .flowto-iconbox-btn{
        svg{
          path{
            stroke: var(--white-color);
          }
        }
      }
    }
    &:hover .flowto-iconbox-icon{
      svg{
        path{
          stroke: var(--secondary-color);
        }
      }
    }
    &:hover .flowto-iconbox-icon.icon-box{
      background-color: var(--white-bg);
      svg{
        path{
          stroke: var(--primary-color);
        }
      }
    }

    &:hover .flowto-iconbox-btn{
      color: var(--primary-color);
      svg{
        path{
          stroke: var(--primary-color);
        }
      }
  }
    
  }
  &-icon{
    margin-bottom: 30px;
    svg{
      path{
        stroke: var(--heading-color);
        transition: all 0.4s;
      }
    }
    &.icon-box{
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
      transition: all 0.4s;
      background-color: var(--dark-bg);
      svg{
        path{
          stroke: var(--white-color);
          transition: all 0.4s;
        }
      }
    }
  }
  &-data{
    h5{
      transition: all 0.4s;
      margin-bottom: 15px;
    }
    p{
      transition: all 0.4s;
    }
    &.light{
      h3, h5, span, p{
        color: var(--white-color);
      }
    }
  }

  &-btn{
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    transition: all 0.4s;
    color: var(--body-color);
    svg{
      margin-left: 10px;
      path{
        transition: all 0.4s;
      }
    }
  }
  // end iconbox left one
 
  
}

.flowto-service{
  &-item{
    padding: 50px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--body-color);
    &:first-child{
      padding-top: 0;
    }
    &:last-child{
      padding-bottom: 0;
      border: none;
    }
    @include max(991px) {
      display: block;
      padding: 30px 0;
    }
    &:hover .flowto-service-icon{
      svg{
        path{
          stroke: var(--primary-color);
        }
      }
    }
  }
  &-data{
    &:nth-child(1) {
      flex: 0 0 38%;
    }
    &:nth-child(2) {
      flex: 0 0 52%;
      padding: 0 43px;
      @include max(991px) {
        padding: 0;
      }
    }
    h3{
      color: var(--white-color);
      @include max(991px) {
        margin-bottom: 24px;
      }
    }
    p{
      font-size: 21px;
      line-height: 34px;
      color: var(--white-color);
      @include max(991px) {
        font-size: 20px;
        line-height: 28px;
      }
    }
  }
  &-icon{
    text-align: right;
    flex: 0 0 10%;
    svg{
      path{
        transition: all 0.4s;
      }
    }
    @include max(991px) {
      text-align: left;
      margin-top: 20px;
    }
  }
}
.flowto-service-btn-center {
  text-align: center;
  margin-top: 80px;
  @include max(991px) {
    margin-top: 60px;
  }
}
// end v3

.flowto-feature{
  &-item{
    display: flex;
    padding: 20px;
    transition: all 0.4s;
    &:hover{
      box-shadow: 0 4px 80px rgba(0,0,0,.08);
    }
  }
  &-icon{
    flex-shrink: 0;
    margin-right: 12px;
  }
}

.flowto-numberbox{
  &-wrap{
    z-index: 0;
    text-align: center;
    max-width: 360px;
    margin: 0 auto 24px;
    position: relative;
    // &:before{
    //   content: "";
    //   left: 0;
    //   top: 0;
    //   width: 100%;
    //   height: 100%;
    //   z-index: -1;
    //   position: absolute;
    //   background-repeat: no-repeat;
    //   background-image: url("../images/v4/number-shape.png");
    // }
  }
  &-number{
    width: 70px;
    height: 70px;
    border-radius: 100px;
    display: flex;
    margin: 0 auto 30px;
    align-items: center;
    justify-content: center;
    background-color: var(--white-bg);
    @include max(767px) {
      width: 50px;
      height: 50px;
      margin: 0 auto 20px;
    }
    h4{
      color: var(--primary-color);
    }
  }
  &-data{
    h5{
      margin-bottom: 15px;
    }
    h5, p{
      color: var(--white-color);
    }
  }
  &-shape{
    
    &.shape1{
      position: absolute;
      left: 21%;
      width: 25%;
      top: 0px;
      @include max(991px) {
        left: 31%;
        width: 38%;
      }
      @include max(767px) {
        display: none;
      }
    }
    &.shape2{
      position: absolute;
      right: 21%;
      width: 25%;
      top: 25px;
      @include max(991px) {
        display: none;
      }
    }
  }
}


// rtl support

[dir="rtl"]{
  .flowto-iconbox-wrap-left .flowto-iconbox-icon{
    margin-right: 0;
    margin-left: 24px;
  }
  .flowto-iconbox-wrap.center, 
  .flowto-iconbox-wrap-left{
    text-align: right;
  }
  .flowto-iconbox-wrap.center .flowto-iconbox-icon{
    margin-right: 0;
    text-align: right;
  }

  
}