

.waves {
  position: absolute;
  width: 185px;
  height: 185px;
  opacity: 0;
  border-radius: 100%;
  left: -44px;
  top: -44px;
  z-index: 0;
  -webkit-animation: waves 3s ease-in-out infinite;
  animation: waves 3s ease-in-out infinite;
  background-color: var(--white-bg);
  z-index: -1;
  &.waves-2{
    width: 200px;
    height: 200px;
    left: -40px;
    top: -40px;
    background-color: var(--white-bg);
    @include max(991px) {
      left: -62px;
      top: -62px;
    }
  }
  &.wave-1 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  &.wave-2 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  &.wave-3 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
}


@keyframes waves {
  0% {
      -webkit-transform: scale(0.2, 0.2);
      transform: scale(0.2, 0.2);
      opacity: 0;
  }

  50% {
      opacity: 0.9;
  }

  100% {
      -webkit-transform: scale(0.9, 0.9);
      transform: scale(0.9, 0.9);
      opacity: 0;
  }
}


.flowto-video{
  &-wrap{
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    @include max(991px) {
      margin-bottom: 30px;
    }
  }
}

.flowto-video-icon {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.margin-top-minus{
  margin-top: -100px;
  @include max(991px) {
    margin-top: -50px;
  }
}
.flowto-video-shape {
  position: absolute;
  top: 50px;
  right: -75px;
  animation: float-left-right 6s ease-in-out infinite;
  @include max(991px) {
    display: none;
  }
}

// rtl support
[dir="rtl"]{
  .flowto-hero-video img{
    margin-right: 0;
    margin-left: 10px;
  }
}
