.flowto-footer{
  &-section{
    background-size: cover;
  }
  &-top{
    padding: 100px 0;
    @include max(991px) {
      padding: 80px 0;
    }
    @include max(767px) {
      padding: 60px 0 25px;
    }
  }
  &-textarea{
    @include max(1199px) {
      max-width: 600px;
      margin-bottom: 35px;
    }
    img{
      margin-bottom: 30px;
    }
    p{
      font-size: 21px;
      line-height: 34px;
      @include max(991px) {
        font-size: 20px;
        line-height: 30px;
      }
    }
    &.light{
      p{
        color: var(--white-color);
      }
    }
  }
  &-title{
    p{
      margin-bottom: 30px;
      font-weight: 600;
      font-size: 21px;
      color: var(--heading-color);
      @include max(767px) {
        margin-bottom: 17px;
      }
    }
    &.light{
      p{
        color: var(--white-color);
      }
    }
  }
  &-menu{
    p{
      font-size: 21px;
      line-height: 34px;
      @include max(991px) {
        font-size: 20px;
        line-height: 28px;
      }
    }
    @include max(767px) {
      margin-bottom: 35px;
    }
    ul{
      li{
        margin: 14px 0;
        &:first-child{
          margin-top: 0;
        }
        &:last-child{
          margin-bottom: 0;
        }
        a{
          font-size: 20px;
          transition: all 0.4s;
          color: var(--body-color);
          &:hover{
            color: var(--primary-color);
          }
        }
      }
      
    }
    &.menu-inline{
      ul{
        li{
          display: inline-block;
          padding: 0 15px;
          margin: 0;
          position: relative;
          &:first-child{
            padding-left: 0;
          }
          &:last-child{
            padding-right: 0;
          }
          &::before{
            content: '';
            right: -4px;
            top: 9px;
            width: 1px;
            height: 14px;
            position: absolute;
            background-color: var(--gray-color);
          }
          &:last-child::before{
            content: none;
          }
        }
      }
    }

    &.light{
      ul{
        li{
          a{
            color: var(--white-color);
          }
        }
      }
      
    }
    &.info{
      margin-left: 60px;
      ul{
        li{
          padding-left: 35px;
          position: relative;
          img{
            
            left: 0;
            top: 5px;
            position: absolute;
          }
        }
      }
    }

    &.extar-margin{
      margin-left: 80px;
      @include max(1199px) {
        margin-left: 0;
      }
    }
  }
  //footer bottom
  &-bottom {
    display: flex;
    padding: 33px 0;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--light-color);
    @include max(991px) {
      display: block;
      text-align: center;
    }
    &.footer-nine{
      @include max(1199px) {
        display: block;
        text-align: center;
      }
      .flowto-two-wrap{
        @include max(1199px) {
          justify-content: center;
        }
      }
    }
    &.center{
      display: block;
      text-align: center;
    }
    &.light{
      border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
  }
}
.flowto-copywright{
  @include max(991px) {
    margin-top: 20px;
  }
  &.footer-nine{
    @include max(1199px) {
      margin: 20px 0;
    }
  }

  &.light{
    color: var(--white-color);
  }
}

// footer extra content
.flowto-footer-btn {
  width: 100%;
  text-align: right;
  @include max(991px) {
    text-align: center;
    margin-top: 40px;
  }
}

.flowto-footer-extra{
  &-title{
    @include max(991px) {
      text-align: center;
    }
    h2{
      color: var(--white-color);
    }
  }
}

.flowto-gmail{
  font-size: 21px;
  color: var(--white-color);
  text-decoration: underline;
  margin-bottom: 20px;
  display: inline-block;
  &.dark{
    color: var(--heading-color);
  }
}

.footer-extra-padding{
  margin-top: -230px;
  .flowto-footer-top{
    padding: 365px 0 100px;
    @include max(991px) {
      padding: 300px 0 80px;
    }
    @include max(767px) {
      padding: 300px 0 35px;
    }
  }
}

// rtl support
[dir="rtl"]{
  .extar-margin{
    margin-left: 0;
    margin-right: 80px;
    @include max(1199px) {
      margin-right: 0;
    }
  }
  .flowto-subscription-btn {
    right: auto;
    left: 5px;
  }
  .flowto-footer-bottom {
    @include max(767px) {
      text-align: right;
    }
  }
  .flowto-footer-bottom.center{
    text-align: right;
  }

  .flowto-footer-btn{
    text-align: left;
    @include max(991px) {
      text-align: right;
    }
  }
  .flowto-footer-extra-top{
    @include max(991px) {
      text-align: right;
    }
  }
  .flowto-footer-menu.info {
    ul{
      li{
        padding-left: 0;
        padding-right: 35px;
        img{
          left: auto;
          right: 0;
        }
      }
    }
  }
  
}
  