
header.flowto-header-section {
  position: fixed;
  z-index: 9;
  width: 100%;
  top: 0;
  padding: 15px 0;
  transition: all 0.4s;
}
header.flowto-header-section.sticky-menu{
  box-shadow: 0 4px 80px rgba(0,0,0,.1);
  background-color: var(--white-bg);
}
// header.flowto-header-section.white-menu.sticky-menu{
//   background-color: var(--dark-bg);
// }

header.flowto-header-section.sticky-one.sticky-menu{
  background-color: var(--blue-bg);
}
header.flowto-header-section.sticky-two.sticky-menu{
  background-color: var(--dark-bg);
}
// header.flowto-header-section.sticky-three.sticky-menu{
//   background-color: var(--light-bg);
// }

.flowto-header-btn-wrap{
  display: flex;
  align-items: center;
  gap: 35px;
  @include max(1199px) {
    gap: 25px;
  }
  @include max(767px) {
    gap: 15px;
  }
}
.flowto-login-btn{
  font-size: 16px;
  font-weight: 700;
  margin-left: 20px;
  color: var(--heading-color);
  transition: all 0.4s;
  &.header-white{
    color: var(--white-color);
  }
}
.site-header .mobile-menu-trigger{
  @include max(767px){
    margin-left: 25px;
  }
}

// rtl support
[dir="rtl"]{
  .site-header .mobile-menu-trigger{
    margin-left: 0;
    @include max(1199px) {
      margin-right: 20px;
    }
    @include max(767px){
      margin-right: 15px;
    }
  }

  .brand-logo, 
  .default-logo, 
  .responsive-logo{
    margin-right: 0;
    margin-left: 40px;
  }
  .header-btn.header-btn-l1.ms-auto.d-none.d-xs-inline-flex{
    margin-right: auto!important;
    margin-left: inherit!important;
  }  

  @media (min-width: 992px) {
    .site-menu-main .nav-link-item {
      padding-left: 13px !important;
      padding-right: 13px !important;
  }
    .site-menu-main i{
      margin-right: 15px;
    }
  }
}

