
<footer class="flowto-footer-section main-footer white-bg">
  <div class="container">
    <div class="flowto-footer-top">
      <div class="row">
        <div class="col-xl-4 col-lg-12">
          <div class="flowto-footer-textarea">
            <a href="">
              <img src="assets/images/logo/logo-dark.svg" alt="">
            </a>
            <p>We are a company that plays a critical role in helping businesses create digital products. Users can use our products to build their websites.</p>
          </div>
        </div>
        <div class="col-xl-3 col-md-4">
          <div class="flowto-footer-menu extar-margin">
            <div class="flowto-footer-title">
              <p>Navigation</p>
            </div>
            <ul>
              <li><a href="">Demos</a></li>
              <li><a href="">About Us</a></li>
              <li><a href="">Services</a></li>
              <li><a href="">Pages</a></li>
              <li><a href="">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="flowto-footer-menu">
            <div class="flowto-footer-title">
              <p>Utility pages</p>
            </div>
            <ul>
              <li><a href="">Instructions</a></li>
              <li><a href="">Style guide</a></li>
              <li><a href="">Licenses</a></li>
              <li><a href="">404 Not found</a></li>
              <li><a href="">Password protected</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-md-4">
          <div class="flowto-footer-menu extar-margin">
            <div class="flowto-footer-title">
              <p>Resources</p>
            </div>
            <ul>
              <li><a href="">Support</a></li>
              <li><a href="">Privacy policy</a></li>
              <li><a href="">Terms & Conditions</a></li>
              <li><a href="">Strategic finance</a></li>
              <li><a href="">Video guide</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="flowto-footer-bottom">
      <div class="flowto-social-icon order-md-2">
        <ul>
          <li>
            <a href="https://twitter.com/" target="_blank">
              <i class="fab fa-angle-right"></i>
            </a>
          </li>
          <li>
            <a href="https://facebook.com/" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/" target="_blank">
              <i class="fab fa-instagram"></i>                    
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/" target="_blank">
              <i class="fab fa-linkedin"></i>                    
            </a>
          </li>
          <li>
            <a href="https://github.com/" target="_blank">
              <i class="fab fa-github"></i>                     
            </a>
          </li>
        </ul>
      </div>
      <div class="flowto-copywright">
        <p> &copy;Copyright 2024, All Rights Reserved by Mthemeus</p>
      </div>
    </div>
      
  </div>
</footer>