<!-- Footer  -->

<footer class="flowto-footer-section flowto-section-padding6" style="background-image: url(assets/images/v2/footer-bg.png);">
  <div class="container">
    <div class="flowto-cta-wrap">
      <div class="flowto-cta-content">
        <h2>Start managing your sales today</h2>
        <div class="flowto-subscribe-one">
          <form action="#">
            <input type="email" placeholder="Email Address">
            <button class="flowto-default-btn flowto-subscription-btn one" id="flowto-subscription-btn" type="submit">
              <span>Subscribe</span>
            </button>
           </form>
        </div>
      </div>
    </div>
  
  <div class="flowto-footer-top">
    <div class="row">
      <div class="col-xl-4 col-lg-12">
        <div class="flowto-footer-textarea light">
          <a href="">
            <img src="assets/images/logo/logo-white.svg" alt="">
          </a>
          <p>We are a company that plays a critical role in helping businesses create digital products. Users can use our products to build their websites.</p>
          <a class="flowto-gmail" href="">Flowtoexample@gmail.com</a>
          <div class="flowto-social-icon social-box">
            <ul>
              <li>
                <a href="https://twitter.com/" target="_blank">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="https://facebook.com/" target="_blank">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/" target="_blank">
                  <i class="fab fa-linkedin"></i>                    
                </a>
              </li>
              <li>
                <a href="https://github.com/" target="_blank">
                  <i class="fab fa-github"></i>                     
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-4">
        <div class="flowto-footer-menu light extar-margin">
          <div class="flowto-footer-title light">
            <p>Navigation</p>
          </div>
          <ul>
            <li><a href="">Demos</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Pages</a></li>
            <li><a href="">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xl-2 col-md-4">
        <div class="flowto-footer-menu light">
          <div class="flowto-footer-title light">
            <p>Utility pages</p>
          </div>
          <ul>
            <li><a href="">Instructions</a></li>
            <li><a href="">Style guide</a></li>
            <li><a href="">Licenses</a></li>
            <li><a href="">404 Not found</a></li>
            <li><a href="">Password protected</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-md-4">
        <div class="flowto-footer-menu light extar-margin">
          <div class="flowto-footer-title light">
            <p>Resources</p>
          </div>
          <ul>
            <li><a href="">Support</a></li>
            <li><a href="">Privacy policy</a></li>
            <li><a href="">Terms & Conditions</a></li>
            <li><a href="">Strategic finance</a></li>
            <li><a href="">Video guide</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="flowto-footer-bottom center light">
    <div class="flowto-copywright light">
      <p> &copy;Copyright 2024, All Rights Reserved by Mthemeus</p>
    </div>
  </div>
  </div>
</footer>