


<footer class="flowto-footer-section dark-bg flowto-section-padding6" style="background-image: url(assets/images/v9/footer-bg.png);">
  <div class="container">
    <div class="flowto-section-title center light p-0">
      <h2>Start managing your project with us</h2>
      <p>This project management software that lets you focus on the leading, not micromanaging, and saves up to 50% of management and planning time.</p>
      <div class="flowto-extra-mt">
        <a class="flowto-default-btn pill" href=""><span>Get Started – It’s Free to Try</span></a>
      </div>
      
    </div>
    <div class="flowto-footer-top">
      <div class="row">
        <div class="col-lg-3 col-md-2">
          <div class="flowto-footer-menu light">
            <div class="flowto-footer-title light">
              <p>Company</p>
            </div>
            <ul>
              <li><a href="">Demos</a></li>
              <li><a href="">About Us</a></li>
              <li><a href="">Services</a></li>
              <li><a href="">Pages</a></li>
              <li><a href="">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="flowto-footer-menu light">
            <div class="flowto-footer-title light">
              <p>Utility pages</p>
            </div>
            <ul>
              <li><a href="">Instructions</a></li>
              <li><a href="">Style guide</a></li>
              <li><a href="">Licenses</a></li>
              <li><a href="">404 Not found</a></li>
              <li><a href="">Password protected</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="flowto-footer-menu light">
            <div class="flowto-footer-title light">
              <p>Navigation</p>
            </div>
            <ul>
              <li><a href="">QuickBooks</a></li>
              <li><a href="">Zapier</a></li>
              <li><a href="">API Documentation</a></li>
              <li><a href="">Slack</a></li>
              <li><a href="">Google Calendar</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="flowto-footer-menu light">
            <div class="flowto-footer-title light">
              <p>Resources</p>
            </div>
            <ul>
              <li><a href="">Support</a></li>
              <li><a href="">Privacy policy</a></li>
              <li><a href="">Terms & Conditions</a></li>
              <li><a href="">Strategic finance</a></li>
              <li><a href="">Video guide</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="flowto-footer-bottom light footer-nine">
      <a href="">
        <img src="assets/images/logo/logo-white.svg" alt="">
      </a>
      <div class="flowto-copywright light footer-nine">
        <p> &copy;Copyright 2024, All Rights Reserved by Mthemeus</p>
      </div>
      <div class="flowto-two-wrap">
        <a class="flowto-app" href="contact-us.html"><img src="assets/images/v1/play-store.png" alt=""></a>
        <a class="flowto-app" href="contact-us.html"><img src="assets/images/v1/app-store.png" alt=""></a>
      </div>
    </div>
  </div>
</footer>
<!-- End -->